[2022-02-21 19:55] JaynouOliver opened #1 "Change background color of cards"
![image](https://user-images.githubusercontent.com/88646338/155017969-e7d5b5e5-21a6-4f0e-b977-f85d7df85411.png)

Change the background color according to the color of the tags.

[2022-02-21 20:05] ronitblenz opened #2 "UI Design for the Resources Page (Figma)"
Design a minimal Resource page on Figma according to the color code and theme of our homepage
Try to make it as minimal as possible and easy to use with a great User Experience.

For reference
<img width="1336" alt="Screenshot 2022-02-22 at 1 32 34 AM" src="https://user-images.githubusercontent.com/91361382/155019657-c44fd19f-d2f0-49f9-a5bf-d5656307b8db.png">
<img width="1417" alt="Screenshot 2022

[2022-02-21 20:49] JaynouOliver opened #3 "Make Upcoming Event Page"
Make a minimal Upcoming Event page according to the colour code and theme of our homepage
Try to make it as minimal as possible and easy to use with a great User Experience.

For reference
<img width="1440" alt="Screenshot 2022-02-25 at 12 26 35 AM" src="https://user-images.githubusercontent.com/91361382/155589377-80f97c8a-0e60-4ad5-8062-99436131a676.png">

[2022-02-21 20:58] ronitblenz opened #4 "Add Animation to the cards while cursor hovers"
<img width="1252" alt="Screenshot 2022-02-22 at 2 25 53 AM" src="https://user-images.githubusercontent.com/91361382/155025277-795ab847-7bc3-4230-b2d8-6ddc78679016.png">

Add some animation to those cards, as if the cards float and drop a shadow
Also add some color change or a ripple effect.

[2022-02-21 21:24] ronitblenz opened #5 "Turn the cards into Clickable links"
<img width="1170" alt="Screenshot 2022-02-22 at 2 48 59 AM" src="https://user-images.githubusercontent.com/91361382/155027489-f8f1bbd4-ce00-415d-9048-848bfee86990.png">

Make sure that the cards turn into a clickable link that redirects to a relevant resource where the topic is explained from a broader perspective.

[2022-02-21 22:00] JaynouOliver opened #6 "Modify the footer links"
![image](https://user-images.githubusercontent.com/88646338/155031007-f400c1d3-9542-4348-8c34-c5fd33a6770f.png)
Connect with the mentor/admin of this project to get started with this issue.

[2022-02-22 03:54] ehtishama commented on #1
@JaynouOliver What would be the colour of the tag then? e.g. If the background of the card with the development tag has yellow then what should be the colour of the tag itself? yellow?

Also, I want to work on this issue. Can you please assign it to me?

Thanks.

[2022-02-22 08:27] ronitblenz commented on #1
You can color the tag as white or a lighter shade of yellow, I think its making sense.
And the issues will be assigned 1st march onwards according to gssoc guideline.

[2022-02-22 14:21] AshutoshDash1999 commented on #5
Hey, I want to work on this issue. Can you please assign this one to me?

[2022-02-22 18:41] ronitblenz commented on #5
The issues will be assigned 1st march onwards according to gssoc guidelines.

[2022-02-24 14:25] JaynouOliver opened #7 "Make 3D vector design to replace the first given image."
![image](https://user-images.githubusercontent.com/88646338/155538279-95e98a04-014d-4c01-8a2c-d1fc07770fd8.png)
You are required to make a 3D vector design for the landing page of the website. Connect with the mentors for further guidance.
Format should be in SVG.
Happy Hacking!

[2022-02-24 14:44] JaynouOliver opened #8 "Make two 3D vector Image for mentioned portion of the website"
![image](https://user-images.githubusercontent.com/88646338/155542840-518f0537-5385-4558-8478-bb2ff510e0de.png)

You are required to make two 3D vector designs for the landing page of the website. Connect with the mentors for further guidance.
Formats should be in SVG.
Happy Hacking!

[2022-02-24 15:33] JaynouOliver opened #9 "Attach links in the Quick Links to the given sections of the webpage"
![image](https://user-images.githubusercontent.com/88646338/155554799-4bcf6953-77a9-47ca-beab-a7f8e75316cb.png)

Link the Resources tag to the resources page and that goes the same for the rest of the tags.

[2022-02-24 15:46] JaynouOliver opened #10 "Add floating animation to the Tech Squad logo"
![image](https://user-images.githubusercontent.com/88646338/155557228-a71ee745-815f-40ee-a76f-d1771098df5c.png)

Visit the (https://gssoc.girlscript.tech/) and see their floating logo on the landing page.
Note: Images are taken only for reference.

[2022-02-24 17:07] ronitblenz opened #11 "Create a Minimal counter for the website"
Make a counter for the no. of visits to the website
Position can be decided later according to what it suits well.

Please avoid the counter templates which are a bit old fashion, rather design your own minimal counter
It should match the theme of the website, be responsive and fast.
Show your creativity and you will be rewarded with Level-3 tag

[2022-02-25 08:29] ishika1501 commented on #9
@JaynouOliver  sir , please assign this to me .

[2022-02-25 08:30] ishika1501 commented on #2
@ronitblenz  i am quite good with Ui/Ux , please assign it to me.

[2022-02-25 08:31] ishika1501 commented on #4
@ronitblenz sir , i would like to do this project , please assign it to me.

[2022-02-25 08:34] ronitblenz commented on #9
You will be assigned on 1st march

[2022-02-25 08:34] ronitblenz commented on #4
You will be assigned on 1st March

[2022-02-25 08:35] ronitblenz commented on #2
You will be assigned on 1st March

[2022-02-25 08:37] ronitblenz commented on #2
You can start working on the issue from now on, I will assign you on 1st merge, then you can create a PR
Because you have much time left

[2022-02-25 08:38] ronitblenz commented on #9
You can start working on the issue from now on, I will assign you on 1st march, then you can create a PR
Because you have much time left

[2022-02-25 08:39] ronitblenz commented on #4
You can start working on the issue from now on, I will assign you on 1st march, then you can create a PR
Because you have much time left

[2022-02-25 08:42] ronitblenz commented on #5
You can start working on the issue from now on, I will assign you on 1st march, then you can create a PR
Because you have much time left

[2022-02-25 08:43] ronitblenz commented on #1
You can start working on the issue from now on, I will assign you on 1st march, then you can create a PR
Because you have much time left

[2022-02-25 10:31] HarshKumarChoudary commented on #10
Please assign this task to me.

[2022-02-25 10:31] HarshKumarChoudary commented on #6
Could you please assign this task to me. I could contribute to this.

[2022-02-25 11:30] ronitblenz commented on #6
Hi, You can start working on the issue from now on, I will assign you on 1st march, then you can create a PR
Because you have much time left

And plz connect with me or @JaynouOliver over discord to learn more about the issue

[2022-02-25 11:31] ronitblenz commented on #10
Hi, You can start working on the issue from now on, I will assign you on 1st march, then you can create a PR
Because you have much time left

Plz ask us on Discord for more details

[2022-02-25 12:42] ishika1501 commented on #2
@ronitblenz  thankyou sir

[2022-02-25 19:18] Pragatii08 commented on #9
I can work on it.

[2022-02-26 03:31] Kittu22f commented on #9
I can work in it

[2022-02-26 05:19] ronitblenz commented on #10
ronitblenz#6939

Here is my Discord

[2022-02-26 14:24] Deekshith44 commented on #3
I would like to work on this issue

[2022-02-27 07:14] uhini0201 commented on #6
Hi, I would like to work on that

[2022-02-27 08:17] ronitblenz commented on #3
It's a first come first serve basis system. If the person before you fails to deliver the job within due time, it will be forwarded to you. Till then you can contribute to other issues and raise your own issues as well... If the issue seems to be valid, we will assign you and we can merge your PR

[2022-02-27 10:46] ikavyajain opened #12 "Implement Light and Dark Mode"
A website should be user-friendly offering both types of modes as per convenience!

[2022-02-27 10:49] ronitblenz commented on #12
Yeah sure, you can work on this issue.
I will assign you on 1st March

[2022-02-27 10:53] ikavyajain opened #13 "Shift the Navigation Bar and Adjust the Logo"
The logo should be shifted towards the upper left corner and the navigation bar should be shifted a little up!

[2022-02-27 10:55] ronitblenz commented on #13
Also adjust the vacant spaces

[2022-02-27 15:02] JaynouOliver commented on #9
you can look into some other issues. The assigning of issues happens on a first come first serve basis.

[2022-02-27 15:06] JaynouOliver commented on #6
@uhini0201 You can look into some other issues. The assigning of issues happens on a first come first serve basis.

[2022-02-27 16:18] StillAbeginnerr commented on #7
I want to work on this issue.

[2022-02-27 16:24] JaynouOliver commented on #7
Well, go for it! I will assign you on the first of March as per the rules. Please connect with me on discord (Subhro#8287)and show me the designs so that I can guide you!

[2022-02-27 17:30] ishika1501 commented on #2
@ronitblenz  should I add the link to the figma or the images of the pages , also do i need to create a new folder sir ?

[2022-02-27 17:33] ronitblenz commented on #2
Send me the link first
Let me check

[2022-02-28 16:47] Phalak-Sharma opened #14 "make the display card count live on page load"
### Description

make the display card count live on page load

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-02-28 16:48] ronitblenz commented on #14
You can start working on the issue

[2022-02-28 18:39] ronitblenz commented on #14
you are assigned, start working on the issue and create a PR... Good luck

[2022-02-28 18:41] JaynouOliver commented on #10
@HarshKumarChoudary assigned you, go for it!

[2022-02-28 18:41] ronitblenz commented on #13
you are assigned, start working on the issue and create a PR... Good luck

[2022-02-28 18:42] ronitblenz commented on #12
you are assigned, start working on the issue and create a PR... Good luck

[2022-02-28 18:43] ronitblenz commented on #5
you are assigned, start working on the issue and create a PR... Good luck

[2022-02-28 18:44] ronitblenz commented on #4
you are assigned, start working on the issue and create a PR... Good luck

[2022-02-28 18:44] JaynouOliver commented on #9
@ishika1501 go for it!
Happy Hacking!

[2022-02-28 18:45] ronitblenz commented on #2
you are assigned, start working on the issue and create a PR... Good luck

[2022-02-28 18:45] ronitblenz commented on #2
Plz send me the link, if I approve the design then only make a PR

[2022-02-28 18:46] ronitblenz commented on #3
you are assigned, start working on the issue and create a PR... Good luck

[2022-02-28 18:48] JaynouOliver commented on #6
@HarshKumarChoudary you are assigned, start working on the issue and create a PR... Good luck

[2022-02-28 18:48] ronitblenz commented on #1
you are assigned, start working on the issue and create a PR... Good luck

[2022-02-28 18:48] ronitblenz commented on #7
you are assigned, start working on the issue and create a PR... Good luck

[2022-03-01 01:39] codercool3r opened #17 "Error in spelling"
In contact.html, line 214, there is a minute spelling error.
It is given as 'fill free' instead of 'feel free'.

[2022-03-01 01:40] codercool3r commented on #17
Can I solve this issue?

[2022-03-01 02:14] pranavsuriya-sr opened #18 "Scroll to top button"
### Description

Adding a scroll to top button at the bottom right of the page will help the users for easy navigation to the top.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-01 02:16] pranavsuriya-sr commented on #18
I would like to work on this issue under gssoc'22 @ronitblenz

[2022-03-01 02:27] sohan2503001 commented on #1
i would like to work on these issue

[2022-03-01 02:44] Khushi-Mattu commented on #17
Can I solve this issue under GSSOC'22?

[2022-03-01 02:45] Khushi-Mattu commented on #18
I would like to work on this issue under gssoc'22 @ronitblenz

[2022-03-01 02:55] harshjohar commented on #18
I would like to work on this issue under gssoc'22 @ronitblenz

[2022-03-01 03:01] Chandana-23 opened #19 "Add a Registration page"
### Description

want to add a registration page to the website.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-01 03:22] codercool3r commented on #17
Can I solve this issue @ronitblenz

[2022-03-01 04:35] nitishsaini706 commented on #18
hi @ronitblenz i would like to try my hands on this task , I'm a complete beginner ,so would like to contribute under GSSOC 2022

[2022-03-01 04:47] Anish1411 commented on #12
okk

[2022-03-01 04:49] ronitblenz commented on #17
Ok, you can solve this, Also Check for other typos as well, if you find some, please rectify

[2022-03-01 04:50] ronitblenz commented on #17
<img width="1342" alt="Screenshot 2022-03-01 at 10 20 10 AM" src="https://user-images.githubusercontent.com/91361382/156106897-1b245dc3-ed69-4ee7-88c8-b964e87d9192.png">
Also plz replace the garbage value with some relevant text... you are assigned

[2022-03-01 04:51] codercool3r commented on #17
Okay sure, thank you

[2022-03-01 05:02] ronitblenz commented on #12
I assigned @ikavyajain because we assign on a first-come, first-serve basis. If she fails to do it within time, it will be forwarded to you @Anish1411
For now, you can check for new issues and also you may create one for yourself if you find something necessary to change

[2022-03-01 05:06] ronitblenz commented on #18
@pranavsuriya-sr You can work on this issue
Good Luck

[2022-03-01 05:12] ronitblenz commented on #19
Always create an issue and ask admin or mentor if its really needed or not... It could have happened that you already made a PR but it was not really needed after all, any ways... you were lucky

Good job... Happy Contributing

[2022-03-01 05:12] #19 closed

[2022-03-01 05:27] Chandana-23 opened #23 "Updating the nav bar with registration tab"
### Description

Description

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-01 05:35] #23 closed

[2022-03-01 05:38] abh139 commented on #18
I want to work on this

[2022-03-01 05:45] abh139 commented on #8
I can work on that.
Please assign this to me

[2022-03-01 05:45] aritra1804 commented on #8
Hey I would like to work this issue in GSSOC 22

[2022-03-01 05:52] Kumar-laxmi opened #26 "Re-organising JS functions"
### Description

The JavaScript function window.addEventListener() is appearing in multiple HTML files, so that could be organised into a single JS file to increase readability.

### Domain

JavaScript_Domain

### Type of Contribution

_No response_

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-01 05:54] ronitblenz commented on #8
@abh139 You are assigned.
Please go ahead

[2022-03-01 05:56] abh139 commented on #8
Thanks

[2022-03-01 06:00] AshutoshDash1999 opened #27 "Adding shadow to cards"
### Description

Hi, I want to add shadow to the card components. Can you please assign this issue to me?

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

_No response_

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-01 06:08] aritra1804 opened #28 "Aligning of Cards in team page"
Hey I would like to work on formatting of images in the cards of team page  for GSSOC 22. Currently it in not aligned and in a up down fashion.

[2022-03-01 06:08] ronitblenz commented on #26
You are assigned.. good luck

[2022-03-01 06:09] flow6979 commented on #4
@ronitblenz I would like to contribute to this section of the project. thank you

[2022-03-01 06:11] flow6979 commented on #12
if available, I can work on this project. thank you

[2022-03-01 06:15] flow6979 commented on #14
i would like to solve this issue. thank you

[2022-03-01 06:17] ronitblenz commented on #27
You are assigned @AshutoshDash1999
Good Luck

[2022-03-01 06:22] ronitblenz commented on #28
Actually, the photos can adjust when they are cropped in the same sizes... So this issue is not required right now.
I am sorry, but you can work on other issues as well and make some good issues too.

[2022-03-01 06:22] #28 closed

[2022-03-01 06:23] JaynouOliver commented on #28
@aritra1804 that issue is already sorted, if we resize the image, we can solve that, it's just that we are out of good photographs you know! And please ping the mentor from next time you create an issue!

[2022-03-01 06:26] aritra1804 commented on #28
Sure

[2022-03-01 06:33] Kumar-laxmi commented on #26
Already Pulled request

[2022-03-01 06:33] JaynouOliver commented on #8
@abh139 Ping me on Discord and show us the designs when you feel you are ready.

[2022-03-01 06:33] rajprem4214 opened #30 "Improving Cards of the site"
### Description

I want to improve the existing card designs and add some cool animated effects to it.
On hover it will show the description.
 Please assign this to me. I  m a contributor of GSSoC'22.

### Domain

MERN

### Type of Contribution

_No response_

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-01 06:35] abh139 commented on #8
Yeah sure @JaynouOliver

[2022-03-01 06:37] ronitblenz commented on #26
Yeah merged

[2022-03-01 06:37] #26 closed

[2022-03-01 06:38] JaynouOliver commented on #30
This issue already exists @rajprem4214 , and please contact the mentors before creating an issue from the next time.

[2022-03-01 06:38] #30 closed

[2022-03-01 06:42] HarshKumarChoudary commented on #6
@JaynouOliver  where could we find the mentors for getting started

[2022-03-01 06:51] rajprem4214 opened #33 "Adding animations to existing card improving its ui"
### Description

Adding animations to the existing Cards and its ui enhancement. please assign this issue. i m a contributor at GSSoc'22.

### Domain

MERN

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-01 07:08] akki251 opened #34 "Card components break on all screens"
### Description

These card components are breaking, the text is not properly aligned with the badge.

![Issue #component Breaking](https://user-images.githubusercontent.com/67007034/156121272-6db78543-8a69-4ced-b938-f0d71a6fc4e3.png)

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript)

[2022-03-01 07:11] JaynouOliver commented on #34
Go for it @akki251

[2022-03-01 07:13] akki251 commented on #34
Thanks @JaynouOliver

[2022-03-01 07:14] JaynouOliver commented on #34
@akki251 connect with me in our discord channel and make sure you show me the result before you make a PR.
Good Luck

[2022-03-01 07:16] akki251 commented on #34
sure @JaynouOliver

[2022-03-01 07:17] ronitblenz commented on #33
Plz contact me on discord, after that I would proceed with the assigning part

[2022-03-01 07:19] #17 closed

[2022-03-01 07:29] ronitblenz commented on #33
This issue is solved already... Thank you

[2022-03-01 07:29] #33 closed

[2022-03-01 07:33] JaynouOliver opened #35 "Add an abstract image in the background of the specified division"
### Description

You are required to add a vector image in the background of this division of the website.
![image](https://user-images.githubusercontent.com/88646338/156118854-ebdc1b04-19ee-4e13-bcfd-e3eae2cce774.png)

Something Like this :
![image](https://user-images.githubusercontent.com/88646338/156124442-262ac32c-f64d-43e9-882d-8fbcb9f589b2.png)
The image is just for reference
Connect with t

[2022-03-01 07:53] JaynouOliver opened #36 "Figma design for the Blogs Page of the website"
### Description

Description: Make the design in sync with the color and style of the website and connect with the mentors to make the necessary changes.

### Domain

Open Source

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-01 07:54] ShashankRaturi commented on #36
Can i design the blogs page?

[2022-03-01 07:55] JaynouOliver commented on #36
Yes, go for it. Good Luck!

[2022-03-01 08:05] StillAbeginnerr commented on #35
i want to work on this issue

[2022-03-01 08:06] JaynouOliver commented on #35
Go for it! @StillAbeginnerr

[2022-03-01 08:09] HarshKumarChoudary commented on #10
I created the pull request to fix this issue in #38 .

[2022-03-01 08:09] #10 closed

[2022-03-01 08:19] JaynouOliver opened #39 "Add floating animation to this image and add some effect to it as the mouse pointer hovers over the image"
### Description

Description:
Add floating animation to this image and add some effect to it as the mouse pointer hovers over the image.
![image](https://user-images.githubusercontent.com/88646338/156130777-7aa7a474-4771-4de4-bf4b-d6279ba2d7cf.png)

refer to this image on https://gssoc.girlscript.tech/ for reference
![image](https://user-images.githubusercontent.com/88646338/156130953-7f7a0f3b-19c

[2022-03-01 08:21] HarshKumarChoudary commented on #39
I would like to contribute to this. Please assign it to me.

[2022-03-01 08:30] JaynouOliver commented on #39
@HarshKumarChoudary go for it!

[2022-03-01 09:29] aadityasinha-dotcom opened #40 "Add toggle animation to the sidebar"
### Description

Add toggle animation to the sidebar.

![image](https://user-images.githubusercontent.com/75474786/156142397-50c6c9f0-db96-4830-a64d-71bdef098c77.png)

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-01 09:36] Kumar-laxmi opened #41 "Optimization of CSS Class and JS Function Declaration"
### Description

In **_register.html_** the CSS Classes and JS Function call can be optimized to reduce the lines of code

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-01 09:49] Kumar-laxmi commented on #41
register.html requires code optimization

[2022-03-01 09:49] ronitblenz commented on #41
@Kumar-laxmi Go Ahead

[2022-03-01 09:51] ronitblenz commented on #40
Can you show me a sample of what you want to do?

[2022-03-01 10:01] akki251 commented on #34
Hi, Here is result, Shall I create the pull request

![Uploading #card-break-fixed.png…]()

[2022-03-01 10:02] Kumar-laxmi commented on #41
Hey I have sent pull request

[2022-03-01 10:06] JaynouOliver commented on #34
Yes Create a PR

[2022-03-01 10:08] #41 closed

[2022-03-01 10:10] aadityasinha-dotcom commented on #40
Something like this.

![ezgif com-gif-maker](https://user-images.githubusercontent.com/75474786/156149507-091db836-c441-464d-a31c-cf37cd10af04.gif)

[2022-03-01 10:11] #34 closed

[2022-03-01 10:34] JaynouOliver commented on #40
Alright, go for it! @aadityasinha-dotcom
Join the discord server and make sure you show us before you make a PR

[2022-03-01 11:23] Deekshith44 opened #48 "Update the Upcoming events according to the database"
### Description

Update the Upcoming events according to the database

### Domain

Database

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-01 11:45] ronitblenz commented on #48
@Deekshith44 you are assigned. Good Luck

[2022-03-01 12:26] Kumar-laxmi opened #51 "Code Optimization"
### Description

The JS Function **feather.replace()** has appeared in all html files, which makes it a redundant piece of code.

So we can define it once and call it instead of repeating it's code in all html files

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-01 13:10] Rishabh-Gaud opened #52 "add Carousel slideshow for upcoming event"
### Description

 Carousel sliders can help organize serial content while boosting engagement. and I want to help.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

_No response_

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-01 13:11] Rishabh-Gaud commented on #52
I am Rishabh Gaud GSSOC'22 participant. I want to work upon this issue

[2022-03-01 13:18] #3 closed

[2022-03-01 13:23] #51 closed

[2022-03-01 13:27] ronitblenz commented on #52
This is not required for now,
Thanks for showing interest
Please make sure you connect with the admin or mentors of this project before making any issue
So that you know if its required or not and also it doesn't spam the issues Section.

Checkout other issues if you feel like

[2022-03-01 13:27] #52 closed

[2022-03-01 13:55] JaynouOliver opened #55 "Enhanced the display"
### Description

Description: This is not a GSSOC issue.

### Domain

Open Source

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-01 13:56] Anushka-2003 commented on #55
Please assign this issue to me.

[2022-03-01 13:56] JaynouOliver commented on #55
go for it !

[2022-03-01 14:26] #4 closed

[2022-03-01 14:26] #55 closed

[2022-03-01 14:28] #5 closed

[2022-03-01 14:28] #7 closed

[2022-03-01 15:44] ayush25102001 opened #59 "Register/Login route(Backend)"
### Description

Currently there is no backend set for registering the user and storing the data inside the database can I create the endpoints for that?
Participant under Gssoc 22

### Domain

Open Source

### Type of Contribution

_No response_

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-01 16:46] mahi-19 commented on #1
I am a GSSOC'22 participant and want to work on this issue, assign this issue to me

[2022-03-01 16:48] mahi-19 commented on #27
I am a GSSOC'22 participant and want to work on this issue.pls assign this issue to me

[2022-03-01 17:20] #59 closed

[2022-03-01 18:26] Pradumnasaraf opened #62 "docs: Add PR Template"
### Chnages
- Adding a PR template
- Template path **`.github/PULL_REQUEST_TEMPLATE.md`**

### Template Preview (while creating a PR.)
![Screenshot from 2022-03-01 17-54-32](https://user-images.githubusercontent.com/51878265/156168840-66822d65-3e60-4026-8064-f967d66cf94b.png)

####  Due to that we are also missing out on some checks on the community standards checklist

![Screenshot from 2022-03-0

[2022-03-01 18:45] ronitblenz commented on #62
Also add the issue no. section
Assigned

[2022-03-01 18:50] ronitblenz commented on #1
@ehtishama Any updates? If not, I would forward the issue to someone next to you in the queue

[2022-03-01 18:54] ronitblenz commented on #27
Issue is solved

[2022-03-01 18:54] #27 closed

[2022-03-02 02:27] Kumar-laxmi opened #64 "Creating Blog Page"
### Description

I can see that there is no blog page when clicking blog button.

So I can create one and link it.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-02 05:34] ronitblenz commented on #1
You can simply run on it local host. No need to run YARN or NPM🥲

[2022-03-02 05:34] ronitblenz commented on #1
And make sure you make a branch, it seems to be the dev branch....😀

[2022-03-02 05:36] ronitblenz commented on #64
We are waiting for the Figma UI designs for the Blog page. After we get it.... you can work on this, to make a similar stuff

[2022-03-02 05:51] Pranai2518 commented on #64
I would like to work on this issue.

[2022-03-02 06:48] muizan opened #65 "Create nuemorphic design login page"
### Description

I would like to create a login page with nuemorphic design as it would sync with the resources where  you have used shadow and stuff and it looks quite beautiful .

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-02 07:11] Priyanshi662 opened #66 "Design of contact us section"
### Description

Description: map can be shifted to be at the same place with contact us . And also phone number field is accepting non numeric characters too. I'm attaching a photo of what I think this section should be like. Kindly see to it
![Screenshot (80)](https://user-images.githubusercontent.com/77521822/156312227-b29030fb-9307-48de-9c1d-b229e38542b3.png)
[](url)

### Domain

Frontend Dev

[2022-03-02 07:16] JaynouOliver opened #67 "Upcoming events page missing in mobile view"
### Description

Description:
![image](https://user-images.githubusercontent.com/88646338/156312667-7e0cf3cb-699e-49a5-8517-525beef6cfe6.png)
 Here, we can see a "See more details " button here!
 You are required to change that button to the  "Upcoming events" button and also change the "href" of it accordingly.

For reference, this is the button we are talking about:
![image](https://user-images.

[2022-03-02 07:20] JaynouOliver commented on #66
Hi, we are happy with the suggestions that you provided us, but as of now, we feel our website looks well and clear as it is!
So, we don't need the changes to be done.
Thank You!

[2022-03-02 07:20] #66 closed

[2022-03-02 07:21] JaynouOliver commented on #65
send us some samples by connecting with us on discord.

[2022-03-02 07:23] #64 closed

[2022-03-02 07:24] itsAftabAlam opened #68 "small error in git command"
### Description

there is a small mistake in git command in README.md

### Domain

Open Source

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-02 07:24] itsAftabAlam commented on #68
please review the above linked PR, it will fix the error

[2022-03-02 07:31] #68 closed

[2022-03-02 07:32] JaynouOliver commented on #67
Go for it! @itsAftabAlam

[2022-03-02 08:44] Shubhayu-Bhowmick opened #73 "the Join us on Discord button doesn't work"
### Description

When the Join us on Discord button is clicked is brings the viewer back to the home page instead of taking them to the discord server.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

_No response_

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-02 09:03] HarshKumarChoudary commented on #9
If this level1 task is not over, then please consider me for completing it.

[2022-03-02 09:26] #62 closed

[2022-03-02 09:28] #39 closed

[2022-03-02 09:31] #67 closed

[2022-03-02 10:16] akki251 opened #75 "Enhancement : I will transform the about section to a better UI"
### Description

This looks a bit weird, I will customize with icons and try to make it more better looking !

![contributors issue ](https://user-images.githubusercontent.com/67007034/156342212-80a213a2-10af-4d0d-a66b-d6f4c63ee9ba.png)

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscrip

[2022-03-02 11:57] HarshKumarChoudary commented on #40
If this Issue is not solved, then please consider me eligible for it.

[2022-03-02 11:59] HarshKumarChoudary commented on #35
If this issue will not be done, then please consider me eligible for it.

[2022-03-02 12:25] r3yc0n1c opened #76 "Back To Top Button"
**Describe the bug**
The Back to top Button gets wrapped under the Cards when we scroll down in the mobile view.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Mobile View
2. Scroll down to the "Learn More" section
3. See the Back-To-Top Button hidden behind the cards

**Expected behavior**
The Back-To-Top Button should float over every element and must be clickable

**Screenshots**
!

[2022-03-02 12:28] r3yc0n1c commented on #75
Oops! Someone has already started working on this... Thanks for your interest. Meanwhile, you can look upon other issues or create one after discussing the new issue with the mentor(s) / admin.

[2022-03-02 12:28] #75 closed

[2022-03-02 12:31] akki251 commented on #76
Hi @r3yc0n1c  ,Please assign it to me, I will work on it

[2022-03-02 12:32] r3yc0n1c commented on #76
go ahead! ✨

[2022-03-02 14:38] #9 closed

[2022-03-02 14:55] Kittu22f commented on #9
Okk
Thank you
And pls tell last date

On Wed, 2 Mar 2022, 8:08 pm Ronit Banerjee, ***@***.***>
wrote:

[2022-03-02 15:05] muizan commented on #65
![Web capture_2-3-2022_121130_i ytimg com](https://user-images.githubusercontent.com/93467099/156388151-a0384e8c-e67d-4894-8cb3-225bd2d5538e.jpeg)

[2022-03-02 15:07] muizan commented on #65
it will look something like this image but more beautiful .

[2022-03-02 15:12] ronitblenz commented on #65
Sure go ahead...

[2022-03-02 15:15] #76 closed

[2022-03-02 15:18] muizan commented on #65
![Web capture_2-3-2022_204631_127 0 0 1](https://user-images.githubusercontent.com/93467099/156390746-61cc90a0-0e19-4042-9cda-b2ff9fda3c9e.jpeg)

[2022-03-02 15:18] ronitblenz opened #80 "Shadow effect under the main vector when cursor hovers"
### Description

<img width="1277" alt="Screenshot 2022-03-02 at 8 47 44 PM" src="https://user-images.githubusercontent.com/91361382/156390640-95ef85ab-3fbf-432c-bd96-3d44abc30872.png">

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-02 15:22] ronitblenz commented on #65
Exactly... and plz contact me on discord I have some more info to provide
ronitblenz#6939

[2022-03-02 15:23] muizan commented on #65
Thankyou for giving me this opportunity .

[2022-03-02 15:32] ronitblenz commented on #1
@ehtishama You are allotted 24 hrs for the easy issue... You are given much more than that. If the issue is not solved within today, it will be assigned to the person waiting next to you

[2022-03-02 16:15] neharaut00 commented on #80
I want to work on this issue under GSSOC22.

[2022-03-03 00:13] #18 closed

[2022-03-03 00:18] ronitblenz commented on #40
Any update @aadityasinha-dotcom ?
Level1 issues are given 24 hrs. I hope you will make a PR by today, else it will be forwarded to the next contributor in the queue.

[2022-03-03 00:20] ronitblenz commented on #36
@ShashankRaturi Any Updates?

[2022-03-03 00:37] aadityasinha-dotcom commented on #40
Sorry didn't know about 24hr stuff. Will make PR today.

[2022-03-03 01:52] ronitblenz commented on #40
Its alright.... Make a PR today itself then...

[2022-03-03 02:58] HarshKumarChoudary commented on #80
Please give some example of the effects you want.

[2022-03-03 03:03] HarshKumarChoudary commented on #1
If the issue is still available, please consider me for that. Thanks

[2022-03-03 03:12] ronitblenz commented on #1
@sohan2503001 commented before you. So, it's a first come first serve basis. You can check out other issues or create one after asking me or other mentors.

[2022-03-03 03:13] ronitblenz commented on #1
@sohan2503001 You are assigned, you can work on the issue. It's a level1 issue. you have 24 hours to contribute

[2022-03-03 03:26] khushigupta123 commented on #13
I am interested in working on this issue, kindly assign this issue to me.

[2022-03-03 03:29] sohan2503001 commented on #1
@ronitblenz I have solved the issue , can i create the PR

[2022-03-03 03:30] ronitblenz commented on #80
![Mar-03-2022 08-59-04](https://user-images.githubusercontent.com/91361382/156490675-a69bb41a-825d-4ef6-8d40-f04cd4ff059e.gif)

[2022-03-03 03:37] ronitblenz commented on #1
Yes sure

[2022-03-03 03:37] ronitblenz commented on #1
Yes sure

[2022-03-03 05:53] 19arnab190201 opened #82 "Adding Animations to the Home Page"
### Description

Description:  " Are you ready to grow faster? "  section UI improvement by strictly following the design patterns of the project

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-03 06:25] ronitblenz commented on #82
Can you explain to me your approach to this issue?

[2022-03-03 06:27] VIDHI-BAJAJ commented on #82
Can you assign me the issue i know how to solve it

[2022-03-03 06:36] 19arnab190201 commented on #82
@ronitblenz  the contents of the cards of this section can be aligned more beautifully hence making the ui better

below is the img of existing design
![TechSquad Community](https://user-images.githubusercontent.com/72589844/156509422-5acfe4ad-f866-4c54-a133-f171333e0e59.png)

It can be made something similar to this
![Screenshot 2022-03-03 120425](https://user-images.githubusercontent.com/7258984

[2022-03-03 06:40] HarshKumarChoudary commented on #8
I would like to work on this issue under GSSOC 22. Please assign to me, if @aritra1804 is not going to work.

[2022-03-03 06:41] ronitblenz commented on #82
Hey brother @19arnab190201 You are viewing version 1.0 of the website... you have to view the preview link from Dev Branch
https://techsquad-community-website-ci1lflge2-ronitblenz.vercel.app/

[2022-03-03 06:41] ronitblenz commented on #82
If still you have something to modify, let me know asap

[2022-03-03 07:04] 19arnab190201 commented on #82
@ronitblenz ya the latest section what i was initially planning to change is looking good i found a new isssue the Cover page i think it need some modification

**YELLOW PART** - _EXCESS SPACE IN THE TOP  MAKING THE NAV BAR AND COVER PAGE LOOK UNTIDY_
**RED PART** - _THIS PART IS NOT ALLIGNED IN THE CENTER AND THE IMAGE ALSO DOSENT MATCHES THE PROJECT I CAN UPDATE IT WILL MORE SUITABLE IMAGE_

![T

[2022-03-03 07:24] aritra1804 commented on #8
I would like to work on it @JaynouOliver

[2022-03-03 07:52] ronitblenz commented on #82
The yellow denoted portion is currently in progress under an issue...

You can fix the alignment a bit. And
Can you tell me regarding the animation you are planning to do?

[2022-03-03 07:53] ronitblenz commented on #8
I am assigning you @HarshKumarChoudary
Good luck🤞

[2022-03-03 08:06] ronitblenz commented on #1
Make the pr @sohan2503001

[2022-03-03 09:30] 19arnab190201 commented on #82
@ronitblenz something similar to these

https://www.sliderrevolution.com/templates/mini-website/?utm_medium=inline-ad&utm_source=animated-website-templates

[2022-03-03 09:43] #1 closed

[2022-03-03 09:44] #35 closed

[2022-03-03 10:27] ronitblenz commented on #82
How many days will it take to complete the animation?

[2022-03-03 10:33] ronitblenz commented on #82
Its looking good, but you shouldn't change the design of the page... and you will work only on this part

![](https://user-images.githubusercontent.com/72589844/156513341-591986f7-f81c-480e-a879-2de496354053.png)

[2022-03-03 10:33] ronitblenz commented on #82
Also, you can add some cubes or shapes to add some cherry on top

Assigning you

[2022-03-03 10:36] ronitblenz commented on #6
@HarshKumarChoudary Whats the update regarding this issue? You dont have time left.
I insist you to complete this issue by today and make a PR

[2022-03-03 13:11] #40 closed

[2022-03-03 18:39] JaynouOliver commented on #36
@ShashankRaturi unassigning you because you have failed to submit a prototype, as said previously, the time limit for the issue is  3 days.

[2022-03-03 18:44] JaynouOliver commented on #36
@ShashankRaturi today is the last date, you have to be unassigned if you fail to show us any update.  24 hours left! Let's hope for the best! Good Luck!

[2022-03-04 02:40] Kumar-laxmi opened #91 "Create a Pricing Page"
Assign this to me under GSSoC

### Description

A link to pricing page is mentioned in footer

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-04 02:50] HarshKumarChoudary commented on #91
I would like to contribute to this under GSSOC 22. Please assign it to me.

[2022-03-04 03:48] HarshKumarChoudary commented on #80
I had created a PR which fixes this issue. Please review it, Thanks.

[2022-03-04 04:12] ronitblenz commented on #91
I am Sorry, that pricing link was just a part of dafault footer... We dont have any paid services, everything is free till now.
So, this is not required right now
and yah, thanks for your interest... Meanwhile you can work on other issues or make a new one too after asking me or the mentors.

[2022-03-04 04:12] #91 closed

[2022-03-04 04:28] Kumar-laxmi commented on #91
Bro if you don't mind you can reopen this issue and relace the pricing with FAQ page

[2022-03-04 05:58] ronitblenz commented on #91
Make a new issue for that

[2022-03-04 06:06] Kumar-laxmi commented on #91
ok

[2022-03-04 06:07] Kumar-laxmi opened #93 "Createa new page for FAQ"
### Description

The link specified in footer for price can be replaced with 'FAQ' and a new FAQ page can be linked to it

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-04 06:07] Kumar-laxmi commented on #91
done created!!

[2022-03-04 06:17] ronitblenz commented on #93
I am sorry but my team and mentors decided not to have faq page.. atleast for now...
Plz watch out other issues and if you have any other ideas in mind... ping me ronitblenz#6939 on discord... after discussion issues can be made

[2022-03-04 06:17] #93 closed

[2022-03-04 06:23] Kumar-laxmi commented on #93
ohk bro

[2022-03-04 07:20] akki251 opened #95 "Enhancemet : Changing Illustration according to the brand theme color"
### Description

- This illustration is a bit away from color theme which is shade of blue, hence I will be replacing it.
![image](https://user-images.githubusercontent.com/67007034/156717217-4cf391b7-e5a6-40f3-a8b2-e19fa0a6be02.png)

# New illustration

![Online friends-rafiki](https://user-images.githubusercontent.com/67007034/156717684-2cac8eb7-9dfc-40b8-9ab1-b7e2b7a2fb8b.png)

### Domain

Fron

[2022-03-04 07:39] HarshKumarChoudary commented on #8
Could you please provide me with some resources to learn from, so that I could create the images.

[2022-03-04 08:18] ronitblenz commented on #8
https://youtu.be/3GzumUieDPY
This is a 5 min tutorial

https://youtu.be/Ib8UBwu3yGA
This is a long tutorial

You can watch them for help

[2022-03-04 08:36] ShashankRaturi commented on #36
Hello Sir ,
I have made a figma design , please tell me how to get it approved?

[2022-03-04 08:48] ronitblenz commented on #36
You can get e shareable link from there ..if you cant find it... Send some screenshots

[2022-03-04 08:59] ShashankRaturi commented on #36
Yes
https://www.figma.com/file/LyqiPckKwit2rB366iFWfC/Blogpage_first_prototype?node-id=0%3A1

[2022-03-04 09:18] ronitblenz commented on #36
This doesnt look modern ..  and match the colour scheme with our website.... You need to change the design ..make it look modern

[2022-03-04 09:46] ronitblenz commented on #95
Woooh... Assigned 🔥

[2022-03-04 09:59] HarshKumarChoudary commented on #80
Since PR is merged then please close this issue. Thanks.

[2022-03-04 10:37] AdnanMuzavor opened #96 "About page can be improved."
### Description

About page can be improved by placing member's images in decent card which resemble to cards in home page.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-04 10:42] #80 closed

[2022-03-04 10:44] HarshKumarChoudary commented on #96
I'm GSSOC 22 contributor. I would like to work on this issue, please assign it to me. Also please add GSSOC22 label for that. Thanks

[2022-03-04 10:50] JaynouOliver commented on #96
Start working @AdnanMuzavor

[2022-03-04 11:51] ronitblenz commented on #8
Hey, @HarshKumarChoudary
The vector is updated already by someone... you learn the skill for now.. you can contribute to other issues.
Is it ok?

So.. I am closing this issue... there will be more issues coming dont worry

[2022-03-04 11:51] #8 closed

[2022-03-04 12:23] #48 closed

[2022-03-04 12:33] #96 closed

[2022-03-04 12:38] HarshKumarChoudary commented on #8
Ok. Thanks

[2022-03-04 12:40] #95 closed

[2022-03-04 14:33] itsAftabAlam opened #102 "the cards are not of equal size"
### Description

the cards on home page below the text "Are you ready to grow faster?" are not of equal size. I would like to fix that by making these cards of equal size. please assign this issue to me

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-04 14:34] itsAftabAlam commented on #102
please assign this issue to me

[2022-03-04 21:19] #2 closed

[2022-03-04 21:20] #14 closed

[2022-03-04 21:26] ronitblenz commented on #102
Its perfectly sized.. can you show me what is the issue in the website you are seeing.. Send a screenshot too

[2022-03-04 21:27] ronitblenz commented on #102
I cant see any problem here

[2022-03-05 02:37] Kumar-laxmi opened #103 "Creating Header & Footer in Upcoming Events Page"
### Description
**This is under GSSoC'22**

After landing in Upcoming Events Page I think navigating to other pages is an issue which can be resolved by adding header and footer that follow entire website design.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-05 03:59] Daksh-jha commented on #36
@JaynouOliver, I would like to do this task under GSSOC, please assign it to me.

[2022-03-05 04:13] Daksh-jha commented on #103
I would like to create upcoming events page as the whole page is missing.
I am GSSOC participant, please assign me this issue.

[2022-03-05 04:42] Kumar-laxmi commented on #103
I think the page is not missing
Only the header and footer are missing

[2022-03-05 05:09] 19arnab190201 commented on #82
@ronitblenz Hey, can I also fix the navbar extra spacing because it's not allowing me to work properly on the cover page.

[2022-03-05 05:18] ronitblenz commented on #82
😊 sure

[2022-03-05 05:18] #102 closed

[2022-03-05 05:19] ronitblenz commented on #103
@Kumar-laxmi assigned 🔥

[2022-03-05 05:42] ronitblenz commented on #36
@ShashankRaturi Any updates?

[2022-03-05 05:50] ShashankRaturi commented on #36
Kindly un-assign me from this issue for now.

[2022-03-05 06:10] ronitblenz commented on #36
Ok @ShashankRaturi

@Daksh-jha you are assigned ✨

[2022-03-05 10:39] #13 closed

[2022-03-05 12:03] 19arnab190201 commented on #82
@ronitblenz PR done hope u liked it

[2022-03-05 12:46] #65 closed

[2022-03-05 12:59] #82 closed

[2022-03-05 15:31] itsAftabAlam commented on #102
![issue](https://user-images.githubusercontent.com/88653530/156889844-4ff0ce06-fc16-4ec9-805f-f94712277510.png)
that's what i am talking about @ronitblenz

[2022-03-05 15:38] ronitblenz commented on #102
Check the preview...final deployment isnnot yet ready ... Here is the link https://techsquad-community-website-git-fork-19arnab1-9e3e8d-ronitblenz.vercel.app/

[2022-03-05 16:12] Shubham29012001 opened #108 "Implementing Animations on Home Page to Enrich User Experience"
It would be better if we add some animations on the homepage that will enrich the user experience. I am planning to use AoS for animations. Can you please assign this work to me for GSSoC '22?

[2022-03-05 17:12] ronitblenz commented on #108
https://techsquad-community-website-8oz88oyfo-ronitblenz.vercel.app/

View the latest website... What changes can be made... plz explain a bit?

[2022-03-05 17:16] Shubham29012001 commented on #108
Hey @ronitblenz, we can add fade-in animation on the H1 section, and other animations types on other sections.

[2022-03-05 18:07] ronitblenz commented on #108
Yeah, that's, why we dont, need further enhancements for now
You can raise other issues or comment in an issue thread too

For now, I am closing the issue

[2022-03-05 18:07] #108 closed

[2022-03-05 23:10] StillAbeginnerr commented on #6
If this issue is not assigned to somebody or passed the deadline as there is no mention of issue merge here, could you assign me?

[2022-03-05 23:14] StillAbeginnerr commented on #12
i want to work on this issue if the previous deadline is passed and work is not done.

[2022-03-06 03:21] HarshKumarChoudary commented on #6
@StillAbeginnerr I am working on it, and will soon make a PR.

[2022-03-06 05:29] StillAbeginnerr commented on #6
@HarshKumarChoudary ok bhai

[2022-03-06 06:49] #103 closed

[2022-03-06 06:52] ronitblenz commented on #12
@ikavyajain has made the toggle button.... You have to make the dark mode theme.

Assigned to @StillAbeginnerr

[2022-03-06 08:36] StillAbeginnerr commented on #12
Okay, I will submit my work in 5 days as per level 3 deadline

[2022-03-06 08:45] ikavyajain commented on #12
Almost work is done you just need to change the theme and some font colors!
Ronit can guide you better through the deadline of submission! Thanks!🥳

[2022-03-06 09:37] ronitblenz commented on #12
Yeah sure, the deadline is 3 days... Contact me when you need some help

[2022-03-06 09:45] ronitblenz opened #112 "BUG : Loading animation glitch fix"
**Describe the bug**
The loading animation has shifted to side and the blue background is visible partly
![Mar-06-2022 15-14-10](https://user-images.githubusercontent.com/91361382/156917810-98ca67ae-b4db-4506-81e7-96ac105f53fa.gif)

**Expected behaviour**
The animation should be at the Center and the blue portion or any part of the page should not appear rather it must be fully white and loading a

[2022-03-06 10:00] ronitblenz opened #113 "BUG: Overriding of the Nav Bar on Contact and About Us page"
**Describe the bug**
The Nav bar is overlapping some content of the Contact and About us page

<img width="1440" alt="Screenshot 2022-03-06 at 3 19 57 PM" src="https://user-images.githubusercontent.com/91361382/156918137-707e8191-8959-46d6-bb83-f30726585b9b.png">

<img width="1440" alt="Screenshot 2022-03-06 at 3 19 38 PM" src="https://user-images.githubusercontent.com/91361382/156918115-4ba96fed-

[2022-03-06 10:10] itsAftabAlam commented on #113
can i work on this issue? plz assign this to me

[2022-03-06 10:12] itsAftabAlam commented on #112
hey can you plz give a screenshot of expected behaviour? i would like to fix this

[2022-03-06 10:49] ronitblenz opened #114 "A Custom Scroll bar for the website"
### Description

It should match the colour code of our website and if anyone is confused what a scroll bar is, the screen shot is here..

![WhatsApp Image 2022-03-06 at 4 18 52 PM](https://user-images.githubusercontent.com/91361382/156919840-7222c6cd-d894-41d8-afbd-fc7bf5dbb19b.jpeg)

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Cont

[2022-03-06 10:51] ronitblenz commented on #112
You should make the change in every page of the project
![Mar-06-2022 16-20-53](https://user-images.githubusercontent.com/91361382/156919900-91b1b409-a734-4344-8c08-06facf925115.gif)

[2022-03-06 10:52] ronitblenz commented on #113
Assigned ✨

[2022-03-06 10:58] itsAftabAlam commented on #112
ok sure

[2022-03-06 10:59] itsAftabAlam commented on #102
alright

[2022-03-06 11:21] Himanshu664 commented on #114
I want to work on it , please assign also mention which color is preferred for scrollbar

[2022-03-06 11:21] Pranai2518 commented on #114
I would like to work on this issue. please assign it to me.

[2022-03-06 11:54] ronitblenz commented on #114
@Himanshu664 Assigned 🔥

[2022-03-06 12:09] StillAbeginnerr commented on #12
okay @ikavyajain thanks for guiding about the left over tasks and okay @ronitblenz , i will try to complete it before deadline.

[2022-03-06 12:28] ronitblenz commented on #12
Sure Team Diversion 🤞

[2022-03-06 12:34] StillAbeginnerr commented on #12
Yeah bro 👍👍

[2022-03-06 15:43] Daksh-jha commented on #36
https://www.figma.com/proto/fB8l24KguedLI4usjmQwY5/Blog-Page?scaling=contain&page-id=0%3A1&node-id=201%3A2

Can you please review it, so that I can make PR ?

[2022-03-06 15:48] itsAftabAlam commented on #113
I hope this fixes the issue @ronitblenz

[2022-03-06 20:08] #113 closed

[2022-03-06 20:11] ronitblenz commented on #36
Its great... You did a great work planning everything inside the single screen... You just need to make it more modern and attractive... Keeping in mind it should be minimal

[2022-03-07 01:40] Daksh-jha commented on #36
Okk I can make it more attractive but I can't get what, you mean by modern like can you tell what feature or idea you are having in your mind  so that I can try to implement it ?

[2022-03-07 02:27] HarshKumarChoudary commented on #112
Please consider me next in the queue, if the issue is not resolved. I'm a GSSOC22 participant. Thanks.

[2022-03-07 04:31] Kumar-laxmi opened #117 "Add Header and Footer in LogIn page"
### Description

In LogIn page we can see that their is no Header and Footer which makes navigation difficult to other pages.

![image](https://user-images.githubusercontent.com/76027425/156968264-025bacc3-9fb4-40dc-8bbc-187ef6a89ff7.png)

In above image we can see that the header and footer are missing.

Also apart from this the page is also missing icon near title.

### Domain

Frontend Dev HTML

[2022-03-07 04:32] Kumar-laxmi commented on #117
And along with this I would also do a bit of code optimization on other pages.

[2022-03-07 04:40] ahmadjubair33 commented on #117
Hi, @Tech-Squad-Community Assign this issue to me I will add a good design header and footer for the login page.

[2022-03-07 05:02] akki251 opened #118 "Enhancement : Making better UI of counting section in about page"
### Description

Hi, If anyone is not working on it, Please assign it to me , I would love to beautify it 😊

![image](https://user-images.githubusercontent.com/67007034/156971014-c5f77a01-29ae-48ed-af0d-cec4f990e549.png)

@r3yc0n1c

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of

[2022-03-07 05:58] r3yc0n1c commented on #118
great! let's discuss the prototype in the sever

[2022-03-07 06:34] #114 closed

[2022-03-07 06:35] ronitblenz commented on #112
Sure @HarshKumarChoudary

[2022-03-07 06:35] ronitblenz commented on #117
Yeah sure go ahead

[2022-03-07 06:35] ronitblenz commented on #117
@Kumar-laxmi assigned✨

[2022-03-07 06:44] ronitblenz commented on #36
Change the colour scheme a bit, its not matching with our website...
Keep the colours a bit light and sober, you can get the idea from the home page itself

And the format is really great... Its unique, i liked it

[2022-03-07 06:45] akki251 commented on #118
Here it is @r3yc0n1c

![Sample](https://user-images.githubusercontent.com/67007034/156981495-d568917a-c47f-4c14-9f54-51e09d7683d3.png)

[2022-03-07 06:59] r3yc0n1c commented on #118
@akki251 also, link the respective cards to the repo

[2022-03-07 12:11] RaviAnand111 opened #120 "Fix UI bugs in Login Page"
1.The `Not Registered` link does not have enough margin which makes it look weird.
2.The Margin to the logo in the login card is a little much which can be decreased.
3.The box shadow given to email and password looks a little off.
4.The input and password boxes edges can be decreased to 20 or 30% to make it look a little better.

![image](https://user-images.githubusercontent.com/59113935/1570318

[2022-03-07 13:27] itsAftabAlam commented on #112
@ronitblenz issue fixed, I had also changed nav bar fonts color as they were light grey and after removing blue portion those were not visible

[2022-03-07 13:44] ronitblenz commented on #112
You shouldnt have removed the blue portion...
Just needed to make the loading animation in the center

[2022-03-07 13:48] #120 closed

[2022-03-07 13:48] ronitblenz commented on #120
But I thank you for the detailed observations you made and for the time you invested...
🫂

[2022-03-07 16:04] #112 closed

[2022-03-08 04:13] muizan opened #124 "Giving tilt and rgb effect to the cards on homepage."
### Description

giving cards the same effect  as the animation on the homepage with 3d rgb effect.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-08 09:19] ronitblenz commented on #124
Always leave some samples with the issue...
Plz give some

[2022-03-08 09:57] #117 closed

[2022-03-08 12:02] #118 closed

[2022-03-08 13:12] Kumar-laxmi opened #125 "Create a new Resource Page"
### Description

I see that the resource page hasn't been made yet, so I can make it!

![image](https://user-images.githubusercontent.com/76027425/157244712-5070fa2b-1e9f-4061-a835-423137a144e5.png)

The above image is sample of what this page may include

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://g

[2022-03-08 14:30] StillAbeginnerr commented on #12
@ronitblenz i have unassigned myself because my code is not working properly on index.html but working good on other pages.

[2022-03-08 14:50] RaviAnand111 opened #126 "Fetch Information of the Repo"
### Description

The about section needs live data of the repo like, no. of contributions, no. of issues, no. of pr merged, etc.
We need to connect our website with the github api to get the required result.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [x] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-08 15:13] ishika1501 commented on #125
@ronitblenz sir , i would like to work over this issue , (designing the resources pages by basic HTML/JS/CSS) could you assign it to me.

[2022-03-08 15:18] ronitblenz commented on #125
That template you gave looks good, you can make it like that, and you can add details according to this page I am Providing
Here is the website
https://devohub.vercel.app/

[2022-03-08 15:20] ronitblenz commented on #12
Yeah sure, take care..

[2022-03-08 15:41] Kumar-laxmi commented on #125
Ok

[2022-03-09 05:12] muizan commented on #124
![Web capture_9-3-2022_104135_redstapler co](https://user-images.githubusercontent.com/93467099/157377274-2ff3e5a9-73b6-4a15-95b7-f73af0157724.jpeg)

[2022-03-09 07:50] Daksh-jha commented on #36
https://www.figma.com/proto/fB8l24KguedLI4usjmQwY5/Blog-Page?node-id=201%3A2&scaling=contain&page-id=0%3A1

Sir, I have done some changes and set the colors according to main website. Please check and tell if I can make PR now or not :(

[2022-03-09 10:20] ronitblenz commented on #36
Make a PR
Provide a PNG/SVG format in the assets folder > UI , and also give the .figma file there...

[2022-03-09 15:38] ronitblenz commented on #124
This effect is not needed in our website for now
Thanks for your Concern

[2022-03-09 15:38] #124 closed

[2022-03-09 15:39] ronitblenz commented on #126
Any Updates?

[2022-03-09 15:41] RaviAnand111 commented on #126
Yeah, just working on it,

[2022-03-10 01:42] Kumar-laxmi commented on #125
Nope resolving glitches

[2022-03-10 03:11] sohan2503001 commented on #12
@ronitblenz i want to work on this issue

[2022-03-10 05:55] Kumar-laxmi commented on #125
![image](https://user-images.githubusercontent.com/76027425/157598569-d15e8891-457d-4308-a0da-945f1925c3c0.png)
 How is this

[2022-03-10 08:03] ronitblenz commented on #12
Cool ... Assigned @sohan2503001

[2022-03-10 08:16] ronitblenz commented on #125
looking great...replace that logos with respective topics....
after solving the glitches send me the final copy before making a PR

[2022-03-11 12:28] Kavya-mothukuri commented on #12
@ronitblenz hey..if he fails to do.please assign it to me

[2022-03-12 07:30] ronitblenz commented on #12
@Kavya-mothukuri You are assigned ✨

[2022-03-12 07:34] ronitblenz commented on #36
You should make the PR in our DEV branch (default)
Your PR is not appearing to us, you committed some mistake
<img width="723" alt="Screenshot 2022-03-12 at 1 03 28 PM" src="https://user-images.githubusercontent.com/91361382/158008664-860c6e0f-f9f5-4ccf-9c6b-6a9ee92ad1b2.png">

You made pr on your forked repo🙃

[2022-03-12 09:03] #12 closed

[2022-03-12 11:05] TG922 opened #129 "Adding animation on social links"
### Description

- The social links is looking fine, but adding animation to them adds additional effect to it.
- This feature will help increase User Interface(UI) of your website.
- Please assign me on this issue under GSSOC 22.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of

[2022-03-12 11:58] ronitblenz commented on #129
Go ahead @TG922

[2022-03-12 12:39] HarshKumarChoudary commented on #126
Please consider me in queue if the issue is not resolved. Thanks.

[2022-03-12 12:40] ronitblenz commented on #126
@RaviAnand111 Done with the Issue???

[2022-03-12 13:17] JaynouOliver opened #130 "Bring back-to-top arrow in front of the page"
![image](https://user-images.githubusercontent.com/88646338/158019296-bddff072-a4a9-4018-ae9d-b3264a082e94.png)
Have a look at this image for reference.
Connect with the mentors or Project for further queries.

[2022-03-12 13:21] JaynouOliver opened #131 "Fix the content position in the website."
Content should go down when the dropdown button is clicked.
Remove the white spaces!
![image](https://user-images.githubusercontent.com/88646338/158019529-5b0fb3ff-cb79-49ef-9179-0af0ea022493.png)

[2022-03-12 13:23] JaynouOliver opened #132 "Enable light and dark mode in the website"
### Description

Write code to enable light and dark mode in the website and also attach your code the already built button in the website.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-12 13:27] JaynouOliver opened #133 "Main picture not visible in the mobile version of the website"
![image](https://user-images.githubusercontent.com/88646338/158019635-1b4b6f74-d4f6-4f94-8080-ed009d235ada.png)

Have a look at the desktop version of our website and write some code so that the main picture is visible in the mobile version too!

[2022-03-12 13:31] JaynouOliver opened #134 "Make the live counter functional"
![image](https://user-images.githubusercontent.com/88646338/158019828-4317436a-d1eb-425d-8964-90eca32fe9d2.png)

the live counter should fetch data from our repository and automatically update the number of issues created, PRs merged and update the number of contributors!

[2022-03-12 13:32] #125 closed

[2022-03-12 13:36] #134 closed

[2022-03-12 13:37] JaynouOliver opened #135 "Fix footer in the mobile version of the website"
![image](https://user-images.githubusercontent.com/88646338/158019935-257742b5-a31a-462d-96d0-5e206c889916.png)

Fix the footer of the website. Let me give you an explanation, when we shift to the mobile version of the website, all the links and divs should be center aligned.  Some discussion is required regarding the alignment and other areas, make sure you connect with the mentors or project adm

[2022-03-12 13:41] JaynouOliver opened #136 "Optimize the website in the resources page for both the desktop and mobile view"
![image](https://user-images.githubusercontent.com/88646338/158020270-7e4da811-3d95-40bb-8513-604695f0e978.png)

In the desktop view, there should be 4 elements in a line.
when switching back to the mobile view, there should be one element in a line.

[2022-03-12 13:57] JaynouOliver opened #137 "Optimize upcoming event page for the mobile version."
![image](https://user-images.githubusercontent.com/88646338/158020837-da00982e-e1da-48b4-9f58-3d167712406a.png)

in the mobile version, there should be one div per row on the website.

[2022-03-12 14:06] JaynouOliver opened #138 "Make the navbar dynamic!"
### Description

![Animation](https://user-images.githubusercontent.com/88646338/158021064-12180849-7494-4fe3-b53b-4dc0e2b070b4.gif)

Here is a sample of what it should look like, need some further discussions on this topic, make sure you connect with the mentors or project admin!

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contribu

[2022-03-12 14:15] Girlwithasmile commented on #136
I am a contributer at gssoc and would like to work on this

[2022-03-12 14:16] Girlwithasmile commented on #135
I am a contributer at gssoc and would like to work for this

[2022-03-12 14:16] sohan2503001 commented on #133
Can u assign this issue to me

[2022-03-12 14:19] JaynouOliver opened #139 "Implement back-to-top button on all pages of the website"
Back to top button is missing in some website pages, make sure you implement them on all pages!

[2022-03-12 14:21] Girlwithasmile commented on #139
I am a contributer at gssoc and would like to work on this

[2022-03-12 14:27] Akku2016 commented on #138
I would like to work on this issue under the gssoc'22

[2022-03-12 14:52] JaynouOliver commented on #138
go for it! @Akku2016

[2022-03-12 15:22] ishika1501 commented on #137
@JaynouOliver  Sir i would like to work on this issue please assign it to me. Thankyou.

[2022-03-12 16:42] Apexshya commented on #137
I am GSSoC'22 contributor and I want to work on this issue. Please assign it to me.

[2022-03-12 16:47] Pranai2518 commented on #131
I would like to work on this issue. Please assign it to me. I'm a GSSoC'22 participant.

[2022-03-12 17:02] Apexshya commented on #139
I am a contributor at GSSOC'22 and I want to work on this issue. Please assign it to me.

[2022-03-12 18:01] #36 closed

[2022-03-12 18:34] ronitblenz commented on #131
@Pranai2518 Assigned ✨

[2022-03-12 18:34] ronitblenz commented on #133
@sohan2503001 Assigned ✨

[2022-03-12 18:36] ronitblenz commented on #135
@Girlwithasmile Assigned ✨

[2022-03-12 18:37] ronitblenz commented on #136
@Girlwithasmile Assigned ✨

[2022-03-12 18:37] ronitblenz commented on #137
@ishika1501 Assigned ✨

[2022-03-12 18:38] ronitblenz commented on #139
@Girlwithasmile You have been assigned to 2 issues, thats why it would be given to @Apexshya

@Apexshya You are Assigned ✨

[2022-03-12 19:37] rv602 commented on #130
hi @JaynouOliver , Rajagopalan this side.
I am GSSOC 2022 participant.
Kindly assign me this issue.

[2022-03-13 07:06] JaynouOliver commented on #130
@rv602 go for it!
Asigned!

[2022-03-13 07:11] ronitblenz commented on #126
@RaviAnand111 Plz make a PR, by today

[2022-03-13 11:00] sohan2503001 commented on #133
Is it fine, Can I do a PR

![Screenshot (296)](https://user-images.githubusercontent.com/69068073/158056329-6f4289a9-f79a-413d-96e2-dedb8c28ff41.png)
![Screenshot (297)](https://user-images.githubusercontent.com/69068073/158056331-9042e8d6-fb39-4a80-87e9-c97948ffe330.png)
![Screenshot (298)](https://user-images.githubusercontent.com/69068073/158056334-9a8d0cb1-fb81-4519-b35e-2bd6ab006071.png)

[2022-03-13 13:46] ronitblenz commented on #133
Cool , Make a Pull Request ✨

[2022-03-13 16:14] #126 closed

[2022-03-14 02:54] HarshKumarChoudary commented on #6
I created the PR #143  Please review it. Thanks.

[2022-03-14 04:27] shivam123-dev opened #144 "Back to top button is getting footer section line over it"
**Describe the bug**
Back To Top Button is getting footer's section line on it.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the **dev** branch using live server on a local machine.
2. Scroll down to footer section
3. At the beginning of the footer section line, see error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![error](

[2022-03-14 04:41] #133 closed

[2022-03-14 04:43] #6 closed

[2022-03-14 04:44] ronitblenz commented on #144
✨ @shivam123-dev  Assigned

[2022-03-14 04:47] ronitblenz commented on #129
Updates??

[2022-03-14 04:48] ronitblenz commented on #130
Any updates?

[2022-03-14 04:48] ronitblenz commented on #131
any Updates??

[2022-03-14 04:49] ronitblenz commented on #135
Updates??

[2022-03-14 04:49] ronitblenz commented on #136
Updates?

[2022-03-14 06:15] sohan2503001 commented on #136
@ronitblenz if she is unable to solve , i would like to solve issue

[2022-03-14 08:36] Pranai2518 commented on #131
I have exams till tomorrow. I'll start working on it tomorrow. And also can you be more specific on this issue what actually to do.

[2022-03-14 09:56] Girlwithasmile commented on #135
Shall make pr today

[2022-03-14 13:16] ronitblenz commented on #131
Its well explained, you need to reduce the white space and the content should slide down when the drop down is opened (IN MOBILE VIEW)

[2022-03-14 13:18] #144 closed

[2022-03-14 13:19] ronitblenz commented on #135
Cool

[2022-03-14 13:19] ronitblenz commented on #137
Updates?
@ishika1501

[2022-03-14 13:20] ronitblenz commented on #138
Updates ? @Akku2016

[2022-03-14 13:21] ronitblenz commented on #139
@Apexshya any updates?

[2022-03-14 13:23] Girlwithasmile commented on #136
Making pr soon

[2022-03-14 13:33] ronitblenz commented on #136
Sure

[2022-03-14 13:33] sohan2503001 commented on #131
@ronitblenz i want to work on this , if he is unable to do

[2022-03-14 13:34] ronitblenz commented on #138
Just what we already have... you just need to make it look like the above mentioned example

[2022-03-14 18:16] ronitblenz commented on #129
Sure

[2022-03-14 18:36] mrudulkolambe opened #146 "Show password functionality in login.html page"
**Describe the bug**
Show password functionality in login.html page

**Expected behavior**
to toggle the type of password input

**Screenshots**
![image](https://user-images.githubusercontent.com/83169198/158238713-5f06ecaf-61c5-4954-a8f2-a2865b48f3e3.png)

[2022-03-16 03:48] akki251 opened #148 "BUG : Empty form submission."
**Describe the bug**
On Login from user is able to submit the form without email and password validation.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Login page
2. Try to submit the form empty.
3. See error

**Expected behavior**
 User should not be able to submit the form empty,

**Screenshots**
![image](https://user-images.githubusercontent.com/67007034/158512779-cba57713-a886-4a

[2022-03-16 14:45] JaynouOliver commented on #148
yes, that's a nice idea, you can work on it! Go on!

[2022-03-16 14:46] JaynouOliver commented on #146
go for it!
Assigned!
That is a good idea!

[2022-03-17 04:13] Kumar-laxmi opened #149 "Create a Forgot Password Page"
**THIS IS UNDER GSSoC'22**

### Description

We can create a Forgot Password Page and link to the anchor tag in LogIn.html

![image](https://user-images.githubusercontent.com/76027425/158735791-49691497-4143-4801-bc29-71b00abbf128.png)

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript

[2022-03-17 08:50] Kumar-laxmi commented on #149
Bro could you make this as level 2, cuz it might take time

[2022-03-17 09:26] JaynouOliver opened #151 "Homepage Image in the mobile version should be adjusted"
![image](https://user-images.githubusercontent.com/88646338/158778734-a54cc916-4516-40bf-8c1a-348399897504.png)
You have to adjust the image so that it fits well in the mobile version.

[2022-03-17 09:29] JaynouOliver commented on #130
Hey, @rv602 Today is your last date to make a PR. If u failed to do so, you will be unassigned

[2022-03-17 14:21] HarshitX1002 commented on #151
Hey I would Like to work on this issue.
I will make sure image fits well in mobile version of this website.

[2022-03-17 17:13] ronitblenz commented on #130
I just saw that right now that it is fixed already, I am sorry for this inconvenience. I am closing this issue

[2022-03-17 17:13] #130 closed

[2022-03-17 17:16] rv602 commented on #130
okay..thank you

[2022-03-17 20:10] ronitblenz commented on #151
Sure, Assigned @HarshitX1002 ✨

[2022-03-17 20:43] #148 closed

[2022-03-17 20:48] ronitblenz commented on #138
Updates ? @Akku2016

[2022-03-17 20:49] ronitblenz commented on #136
Updates? @Girlwithasmile

[2022-03-17 20:50] ronitblenz commented on #135
Where is the PR? Updates? @Girlwithasmile 🥲

[2022-03-17 20:50] ronitblenz commented on #131
@sohan2503001 You are assigned ✨

[2022-03-18 04:26] 19arnab190201 opened #153 "Adding animation in Handpicked Technologies ....... section"
### Description

Adding animation in Handpicked Technologies .......  section similar to cover page

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-18 04:29] 19arnab190201 opened #154 "Adding animation in Features Grid sections similar to cover page"
### Description

Adding animation in Features Grid sections (Developer's Best Friend & Community Support to make Connections) similar to cover page

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-18 04:30] 19arnab190201 opened #155 "Adding animation in "Are you ready to grow faster?" section"
### Description

Adding animation in "Are you ready to grow faster?" section

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-18 05:12] mrudulkolambe commented on #146
Okayy!!

[2022-03-18 11:46] #146 closed

[2022-03-18 12:10] TG922 commented on #129
Sorry brother, I have already completed my work.
But I'm waiting for my changes to be added !! Whenever I push my changes to origin. Someone already made a commit 😅😅

So, I fetch changes again and create another branch with changes done.

[2022-03-18 12:19] ronitblenz commented on #129
ok

[2022-03-18 16:13] sohan2503001 commented on #131
Is it okk , Should i make PR

![Screenshot (300)](https://user-images.githubusercontent.com/69068073/159040632-69f3c85b-cda8-4044-b2be-651de9e658cd.png)
![Screenshot (301)](https://user-images.githubusercontent.com/69068073/159040657-5aaafc97-01b1-43da-95ea-ea081fb0d2d7.png)

[2022-03-18 16:32] sohan2503001 commented on #135
@ronitblenz I would like to work on this issue

[2022-03-18 17:35] ronitblenz commented on #131
Make a pr lat me check in the deployment

[2022-03-19 06:52] #151 closed

[2022-03-19 06:54] #131 closed

[2022-03-19 06:56] #149 closed

[2022-03-19 07:04] ronitblenz opened #159 "Improve the CSS of Amazing team cards of About Page"
The cards are not well-sized and all of them should be in a single row

You can also come up with something creative... It's all your call.

Happy Contributing.

[2022-03-19 08:26] satyamgupta1495 opened #160 "[Create New Issue]:"
### Description

There is no option to go back to home page in login section.

![Web capture_19-3-2022_135457_techsquadcommunity tech](https://user-images.githubusercontent.com/51158766/159113717-dca4d159-33cf-4349-8cd4-190480e789f0.jpeg)

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscr

[2022-03-19 08:27] satyamgupta1495 commented on #160
I'd like to work on this issue! could you please assign this issue to me?

[2022-03-19 09:11] #160 closed

[2022-03-19 12:56] sohan2503001 commented on #139
@ronitblenz i would like to work on this issue

[2022-03-19 14:48] TG922 commented on #129
Before sending PR today, I want to ask something. Other than Github, LinkedIn is there any other social media account you want to be added to??

As I'm ready to make changes right now!!

[2022-03-19 23:59] TG922 commented on #129
I recently noticed that your website is responsive.. So now i'm making it responsive is it okay??

Or should I create PR for this right now !!

[2022-03-20 03:40] Pranai2518 commented on #159
I want to work on this issue. Please assign me.

[2022-03-20 05:22] shivam123-dev commented on #159
@ronitblenz I would like to work on this issue. Being a GSSOC'22 contributor, kindly assign me this issue.

[2022-03-20 06:21] ronitblenz commented on #139
@sohan2503001 Assigned ✨

[2022-03-20 06:23] ronitblenz commented on #129
Make it responsive and make a PR

[2022-03-20 06:24] ronitblenz commented on #129
Github, Linkedin, Discord ... This is all we need. (Discord link is dead by intention)

[2022-03-20 06:27] #137 closed

[2022-03-20 08:27] Kumar-laxmi opened #162 "Form Validation"
**This is under GSSoC'22**

### Description

I want to add form validation in LogIn, Register and ForgotPassword Page

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-20 08:33] Kumar-laxmi commented on #159
I could work on this

[2022-03-20 08:34] Pranai2518 commented on #159
I want to work on this issue. please assign me.

[2022-03-20 10:18] sohan2503001 commented on #139
Back to top button was missing on about and contact page.
Can i make a PR.

![Screenshot (302)](https://user-images.githubusercontent.com/69068073/159157769-b972d7cd-2938-4714-a268-b9c2d09d267f.png)
![Screenshot (303)](https://user-images.githubusercontent.com/69068073/159157773-f7635409-2553-450c-883e-957be1748d15.png)

[2022-03-20 11:19] #153 closed

[2022-03-20 11:44] ronitblenz commented on #159
@Kumar-laxmi Assigned ✨

[2022-03-20 15:11] ronitblenz commented on #139
Sure @sohan2503001

[2022-03-20 19:14] #139 closed

[2022-03-20 19:15] ronitblenz commented on #162
Can you mention what you mean by validation?

[2022-03-20 19:16] ronitblenz commented on #162
Plz dm me on discord
ronitblenz#6939

[2022-03-21 01:25] Kumar-laxmi commented on #162
Form Validation means that like , for example:
### For Password:
- have the minimum length of eight (8) characters
- have at least one lower case character
- have at least one upper case character
- have at least two digits
- have at least one special character

### Confirm Password:
- It will ensure that Confirm Password is same as Password

### Email Validation:
- The first Part should have:
  -

[2022-03-21 03:54] StillAbeginnerr commented on #138
Can i try this issue?  I wanna work on it.

[2022-03-21 06:50] ronitblenz commented on #162
@Kumar-laxmi Assigned ✨

[2022-03-21 06:50] ronitblenz commented on #138
Sure @StillAbeginnerr Assigned ✨

[2022-03-21 07:11] ronitblenz commented on #154
Merged

[2022-03-21 07:11] #154 closed

[2022-03-21 14:14] ronitblenz opened #167 "Create the Blog Page"
### Description

Here is the UI Design for the Blog page

https://github.com/Tech-Squad-Community/techsquad-community-website/tree/dev/UI

And also, use your creativity if you want
Happy Coding✨

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-22 14:16] Kumar-laxmi opened #169 "Update Footers in all page"
### Description

The footer in other pages needed to be updating and made same as index.html, like below

![image](https://user-images.githubusercontent.com/76027425/159502176-21d1845e-8a78-4506-81f0-b064f1ccce43.png)

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-22 14:19] sohan2503001 commented on #136
@ronitblenz is it okk or do you want any changes

[2022-03-22 14:21] ronitblenz commented on #136
<img width="252" alt="Screenshot 2022-03-22 at 7 51 03 PM" src="https://user-images.githubusercontent.com/91361382/159503491-51caaf0c-7836-41a6-baab-9348e8a7dbce.png">
The logo circle seems to be distorted
Fix that and make sure its responsive

[2022-03-22 14:27] sohan2503001 commented on #136
okk

[2022-03-22 18:02] akki251 opened #170 "Enhancement : Form Input color validator for better User experience"
### Description

Please refer to the attached screenshot for better understanding

![image](https://user-images.githubusercontent.com/67007034/159545652-1581578a-d325-429b-8dfb-8febc5a917a9.png)

- A border will appear below the input, which will be red until the input is invalid and then turn green once it is validated, providing a better user experience.

### Domain

Frontend Dev HTML/CSS/JS

##

[2022-03-23 03:14] sohan2503001 commented on #136
![Resources (2)](https://user-images.githubusercontent.com/69068073/159616695-26b9ecdb-e4c8-464d-bc75-bef6974385ba.png)

[2022-03-23 03:17] sohan2503001 commented on #135
@ronitblenz can u explain me what i have to do here exactly

[2022-03-23 14:53] Kumar-laxmi opened #171 "Create a Code of Conduct Page"
### Description

In the footer,

![image](https://user-images.githubusercontent.com/76027425/159727630-04b2c937-1353-4a25-821e-16e4efaff269.png)

We can replace "Terms" link with code of conduct and link it to it.

In code of conduct page we can put the content that you have provided in CODEOFCONDUCT.md page in the repository.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

[2022-03-23 16:36] sohan2503001 commented on #136
@ronitblenz Is it okk now

[2022-03-23 16:48] ronitblenz commented on #136
Make a PR, I need to check it in the deployment

[2022-03-23 16:50] ronitblenz commented on #170
Nice... @akki251 Assigned✨

[2022-03-23 16:50] StillAbeginnerr commented on #138
Can I get an extension of one more day for my task ? Reason is that , there is some bug in my code as I am trying something more awesome for nav bar like an animated dynamic nav bar.

[2022-03-23 16:51] ronitblenz commented on #171
No actually, code of conduct is for contributors for now.... Not anyone who is visiting the website... I hope its clear to you

[2022-03-23 16:51] ronitblenz commented on #169
Assigned @Kumar-laxmi ✨

[2022-03-23 16:52] ronitblenz commented on #138
Yes take ur time

[2022-03-23 16:52] StillAbeginnerr commented on #138
thanks @ronitblenz

[2022-03-23 16:53] ronitblenz commented on #155
Updates? @19arnab190201

[2022-03-23 17:24] 19arnab190201 commented on #155
@ronitblenz  tomorrow morning

[2022-03-24 01:05] Kumar-laxmi commented on #171
ok

[2022-03-24 10:04] #136 closed

[2022-03-24 13:30] #155 closed

[2022-03-24 18:26] ayush25102001 opened #175 "Show/Hide Password"
### Description

Can I add the show and hide password button in the signUp form as present in the login form?
participant under gssoc’22.

### Domain

Frontend Dev React/Angular/Vue

### Type of Contribution

_No response_

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-25 13:06] #162 closed

[2022-03-25 13:33] ronitblenz commented on #175
Sure @ayush25102001 You are assigned✨

[2022-03-25 13:34] ronitblenz commented on #167
@mohitahlawat2001 Updates??

[2022-03-25 13:35] ronitblenz commented on #170
@akki251 Updates?

[2022-03-25 13:39] akki251 commented on #170
Yes, just about to create the PR

[2022-03-25 14:35] JaynouOliver commented on #135
On a broad basis, see all the divs and words here are center aligned.
Please contact us on discord before making a PR and we shall discuss any further changes with you. @sohan2503001

[2022-03-25 14:35] JaynouOliver commented on #135
On a broad basis, see all the divs and words here are c aligned.
Please contact us on discord before making a PR and we shall discuss any further changes with you.

[2022-03-26 10:31] sohan2503001 commented on #135
yess okk

[2022-03-26 20:00] StillAbeginnerr commented on #138
I have unassigned myself because my code's CSS part is not working and my level 2 deadline is finished.

[2022-03-27 03:08] ronitblenz commented on #138
Ok sure...

[2022-03-27 07:04] sohan2503001 commented on #138
@ronitblenz can u assign me this issue , i want to try .

[2022-03-27 09:23] Pranai2518 opened #180 "Contact page cards alignment"
### Description

The cards which are there on the contact page were not in the same alignment.

![contact](https://user-images.githubusercontent.com/75829770/160275040-9559a7a9-48ab-4358-a90e-5406663bac11.png)

I would like to work on this issue as a Gssoc participant. please assign me.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Co

[2022-03-27 10:19] Ritika122001 opened #181 "Resource Page Improvement"
### Description

Link the resources in the resource page

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-03-27 10:48] #129 closed

[2022-03-27 10:50] ronitblenz commented on #180
Sure go ahead

[2022-03-27 10:52] ronitblenz commented on #181
We don't have the pages ready yet... can you create another issue which is to create those pages.... same as of resource cards

[2022-03-27 10:53] ronitblenz commented on #138
sure @sohan2503001

[2022-03-27 10:55] ronitblenz commented on #167
ARE YOU WORKING ON IT?

[2022-03-27 12:07] Ritika122001 commented on #181
Alright. Could we make a page of particular resource card with all the links of websites that provide tutorials for that particular resource?

[2022-03-27 12:11] ronitblenz commented on #181
Not only tutorials..
https://devohub.vercel.app/
Scroll through this website, we want to take the resources from here

[2022-03-27 13:55] #180 closed

[2022-03-28 15:13] #169 closed

[2022-03-28 15:16] #135 closed

[2022-03-29 01:03] Kumar-laxmi commented on #167
@ronitblenz Bro you can assign the issue to me...

[2022-03-29 03:01] Kumar-laxmi commented on #167
![image](https://user-images.githubusercontent.com/76027425/160524370-2e60d123-b123-4e6b-a72f-54ce98562a9f.png)
 This is gonna be my grid view

[2022-03-29 17:27] ronitblenz commented on #181
@Ritika122001 Will you create an issue ?

[2022-03-30 04:18] Kumar-laxmi commented on #167
@ronitblenz Bro I have completed the Blog Page designing

![image](https://user-images.githubusercontent.com/76027425/160750345-cb2e509c-7fce-47de-a321-4b2cc1e8b697.png)

![image](https://user-images.githubusercontent.com/76027425/160750365-5b1bc9a2-0ad9-4d48-b5ed-244b1464dab9.png)

Assign me ASAP so that I do a PR

[2022-03-30 04:19] Kumar-laxmi commented on #167
![screencapture-file-C-Users-Parth-Desktop-VS-Studio-Open-Source-techsquad-community-website-Blog-html-2022-03-30-09_49_09](https://user-images.githubusercontent.com/76027425/160750564-814302d2-c1b6-47f3-8434-f5a71c4aad87.png)
 This is the mobile view

[2022-03-30 05:59] Ritika122001 commented on #181
Next week, I have my internal exams . Therefore, I cannot work until then.

[2022-03-30 07:04] ronitblenz commented on #167
Make the design a bit modern... like the other pages we already have...the figma was just a prototype of what will be placed where

[2022-03-30 07:05] ronitblenz commented on #181
Ok ...make an issue next week

[2022-03-30 07:05] #181 closed

[2022-03-30 07:05] #175 closed

[2022-03-30 07:05] #170 closed

[2022-04-01 13:23] ronitblenz commented on #138
@updates??

[2022-04-01 15:01] #167 closed

[2022-04-01 17:20] sohan2503001 commented on #138
I have completed the design , I have to just merged it with the website
![Screenshot (315)](https://user-images.githubusercontent.com/69068073/161311358-0615ed1a-e487-4ab8-a891-4378166abf78.png)

[2022-04-01 17:30] sohan2503001 opened #187 "Bug in Resource page of Mobile version"
**Describe the bug**
Footer section of Resource page in Mobile version is not properly aligned.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Screenshot (316)](https://user-images.githubusercontent.com/69068073/161313116-3c74b8b4-79f9-4996-861d-cb610d2dc3a3.png)

[2022-04-02 02:35] Kumar-laxmi opened #188 "Resolving card in Mobile View"
**THIS IS UNDER GSSoC'22**

### Description

We can see that the cards aren't well organized in Mobile View:

![image](https://user-images.githubusercontent.com/76027425/161362389-a0f91c78-ccc7-4fcd-b28a-2b4eff77d6b1.png)

### Solution
The cards should be aligned in such a way that, one card appears per row

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduc

[2022-04-02 05:55] Aslam-13 commented on #188
Hi,
pls assign this to me.

[2022-04-02 12:05] ronitblenz commented on #187
Assigned @sohan2503001

[2022-04-02 12:05] ronitblenz commented on #188
@Kumar-laxmi Assigned ✨

[2022-04-02 16:26] Adhetya opened #189 "Labels should be on top of input boxes in login and registration form"
**Describe the bug**
A clear and concise description of what the bug is.
The labels for the login and registration form should come before giving input. However, here the label comes after input

**To Reproduce**
Steps to reproduce the behavior:
1. Go to login/registration page

**Expected behavior**
Form label should come before the input box

**Screenshots**
<img width="1440" alt="Screenshot 202

[2022-04-02 16:27] Adhetya commented on #189
I am a GSSOC 22 contributor. Please assign this issue to me.

[2022-04-02 17:35] sohan2503001 opened #191 "Bug in Blog section of Mobile view"
**Describe the bug**
 Toggle bar is not working and divs in footer section are not centered aligned

**Screenshots**
![Screenshot (317)](https://user-images.githubusercontent.com/69068073/161394537-5aa36b4f-c646-467c-81b0-c54b6f6905e9.png)

[2022-04-02 18:50] Shreyaar12 opened #192 "Fix the dropdown button"
**Describe the bug**
Fixing the dropdown button in the navigation bar in the blog page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'blogs'
2. Click on 'drop down menu'
3. See error

**Expected behavior**
The drop down bar does not work in the blog page

**Screenshots**
![Screenshot (1399)](https://user-images.githubusercontent.com/91542376/161397185-f59b54d3-71c4-407f-8b16-f61ac16c

[2022-04-03 09:18] codingkush opened #194 "Bug in login page of mobile"
**Describe the bug**
Register button of login page in Mobile version is not properly visible.

**Screenshots**
If applicable, add screenshots to help explain your problem.

![Screenshot_20220403-144037~3](https://user-images.githubusercontent.com/78756312/161420665-366ac164-0a2f-4c79-980c-1ac433172f87.png)

[2022-04-03 09:20] codingkush commented on #194
I'm a GSsoc 22 contributer and i  want to work on this issue.pls assign me under GSsoc 22

[2022-04-03 09:33] sohan2503001 commented on #138
@ronitblenz  Is it okk or you want any changes

![Screenshot (318)](https://user-images.githubusercontent.com/69068073/161421188-fb79d563-ab77-486e-a0da-f85dd685f23a.png)

[2022-04-03 11:06] ronitblenz commented on #138
Create a space around the upcoming events button.... its sticking to edges

[2022-04-03 11:14] #188 closed

[2022-04-03 11:16] #187 closed

[2022-04-03 11:18] ronitblenz commented on #194
Also. there are some other elements hidden behind the footer
Fix that

[2022-04-03 11:38] Kumar-laxmi opened #195 "Adding a link to Blog Page in Footer"
### Description

In footer across all pages we can include a link to Blog Page since now we have a Blog Page.

![image](https://user-images.githubusercontent.com/76027425/161426063-320f10a4-b9b8-484d-9c41-ffd32bd79b32.png)

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this pro

[2022-04-03 12:55] codingkush commented on #194
Ok 😊

[2022-04-04 01:33] Adhetya opened #196 "Cards not of equal size for images in about page"
**Describe the bug**
A clear and concise description of what the bug is.
Image cards are not of equal size in desktop view

**To Reproduce**
Steps to reproduce the behavior:
1. Go to footer
2. Click on Community

**Expected behavior**
Image cards should be of equal size for consistency

**Screenshots**
<img width="1440" alt="Screenshot 2022-04-04 at 6 59 22 AM" src="https://user-images.githubuserc

[2022-04-05 03:54] Kumar-laxmi opened #198 "Create individual Blog Pages"
### Description

In my last PRs I created a Blog Page that contains all Blogs in one page, but we can further enhance it by creating a Single Blog Page that is opened up when we click ```Read More```.

These Pages would host individual Blogs that has been selected by users & like a typical blog page it would also have a Comment section.

Please refer below images for the idea that I am suggesting

[2022-04-05 07:12] Shreyaar12 commented on #192
Please assign this issue to me

[2022-04-06 17:20] AdnanMuzavor opened #200 "Add server, create backend for user signin and signup"
### Description

Add user signup and login functionality
->Schema for user
->API for signup and login
->JWT token for authorization

### Domain

MERN

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-04-06 18:45] 19arnab190201 opened #201 "Improve the UI of Login Page"
### Description

The UI of the login page is too simple can be given some creative  touch .

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-04-07 14:05] #191 closed

[2022-04-08 13:31] ayush25102001 opened #202 "Login/signUp Buttons in Header"
### Description

Login and SignUp options are in the footer can I create the respective buttons in the header such that render the login and signUp forms. Its more user friendly if these options are present at the top.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this

[2022-04-10 04:10] JaynouOliver commented on #196
We can resize the image and the cards will be resized. We have intentionally not done it.

[2022-04-10 04:10] #196 closed

[2022-04-10 04:14] JaynouOliver commented on #201
Let's see what you can do! go for it!

[2022-04-10 04:15] JaynouOliver commented on #195
okay go for it

[2022-04-10 04:17] JaynouOliver commented on #192
Okay go for it. @Shreyaar12

[2022-04-10 04:18] JaynouOliver commented on #200
we will be doing that in the react version of the website, please check out the react branch when it's ready

[2022-04-10 04:18] #200 closed

[2022-04-10 04:19] JaynouOliver commented on #189
Okay, go for it. @Adhetya

[2022-04-10 04:20] JaynouOliver commented on #198
it will be nice to see that type of implementation on the website, go for it.

[2022-04-10 04:23] JaynouOliver commented on #202
okay go for it

[2022-04-10 04:28] JaynouOliver opened #204 "Fix footer links on every page"
Footer links are not the same on every page, fix it

![image](https://user-images.githubusercontent.com/88646338/162601370-b18a886d-2af7-407d-9dc2-69863267a04b.png)

![image](https://user-images.githubusercontent.com/88646338/162601502-7f444e9a-115a-4818-b83e-3caa3a2aaa83.png)

[2022-04-10 04:29] #201 closed

[2022-04-10 04:33] JaynouOliver commented on #138
updates?

[2022-04-10 05:14] Adhetya commented on #204
Can I work on it? And which footer links do you need? The links in first image or second one?

[2022-04-10 05:29] sohan2503001 commented on #138
@JaynouOliver  Because of exams I haven't get to complete it ,So You can assign it to someone else

[2022-04-10 05:41] JaynouOliver commented on #204
Go for it,
the links of the first image @Adhetya

[2022-04-10 05:43] #202 closed

[2022-04-10 06:38] AdnanMuzavor opened #207 "[Create New Issue]: Add backend for login and signup"
### Description

->Create user schema as per signup form in frontend
->Design APIs for signup ,login
->jwt for generating token
->bcryptjs for hashing password

tech-stacks: Node.js, Express.js, MongoDB

### Domain

MERN

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-04-10 09:16] Adhetya commented on #204
@JaynouOliver, as far as I can see, the footer links are same in all pages of the website. I can see different footer links in https://techsquadcommunity.tech/registration.html but I thought the codebase was based on the preview in github pages.

[2022-04-10 10:25] Shubham29012001 commented on #207
Hey @AdnanMuzavor, I would like to work on this issue for GSSoC'22. Are you too a contributor? If not then I would like to work on this issue.

[2022-04-10 16:37] Adhetya opened #211 "Can't see navbar in blogs page"
**Describe the bug**
The navbar links cannot be seen in the blogs page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Blogs
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.
Navbar links should be visible

**Screenshots**
If applicable, add screenshots to help explain your problem.
<img width="1440" alt="Screenshot 2022-04-10 at 10 07

[2022-04-11 18:57] #195 closed

[2022-04-11 18:57] #189 closed

[2022-04-11 18:58] #192 closed

[2022-04-11 19:00] JaynouOliver commented on #207
guys we will not be implementing this on this static website version. We are creating a react version ready for you. Please stay tuned. You can add you backend contribution there.

[2022-04-12 02:42] #194 closed

[2022-04-12 10:51] Adhetya commented on #138
Can I work on this issue?

[2022-04-13 11:59] AdnanMuzavor commented on #207
Hey, ok thanks @JaynouOliver .
By the way where shall I find react version?

[2022-04-14 06:41] JaynouOliver commented on #207
We are preparing the basic frame of it. Follow our channel in discord you'll receive the notification or you can also refer to the GitHub discussions section of this repo.
We will make an announcement when it is ready

[2022-04-14 06:42] #198 closed

[2022-04-14 06:44] #211 closed

[2022-04-14 10:38] Kumar-laxmi opened #220 "Log In page correction"
**Describe the bug**
The Log In page seems to be messed up

**To Reproduce**
Steps to reproduce the behavior:
1. Go to main page
2. Click on Pages
3. Scroll down to Log In
4. See error

**Expected behavior**
A box around the form shouldn't be there and an image/svg should be there for a better look

**Screenshots**
![image](https://user-images.githubusercontent.com/76027425/163371405-292ccb90-b4f8

[2022-04-14 12:53] vasantisuthar opened #221 "Google and Github OAuth functionality"
### Description

Description

I want to add the functionality to the Sign in with Google and Github buttons in your project.
I'm a contributor to GSSOC'22 if this is to be added. Please assign this issue to me.

### Domain

MERN

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-04-14 14:16] ronitblenz commented on #138
@Adhetya Assigned

[2022-04-15 14:31] sohan2503001 commented on #204
Can u assign me this issue , if he couldn't do it

[2022-04-15 17:02] JaynouOliver commented on #221
this will be added in the react version of the website, and not this version

[2022-04-15 18:20] vasantisuthar opened #222 "Login Page enhancement"
**Describe the bug**
The buttons on the login page are not perfectly visible on either of the mobile devices.
<img width="960" alt="2022-04-15 (2)" src="https://user-images.githubusercontent.com/63599802/163605736-95ec4227-4e3f-4e5c-a647-afce09034c7f.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the login page
2. Scroll down for the buttons on the login page on mobile devices
4

[2022-04-15 18:21] vasantisuthar commented on #222
If this is to be fixed, I would like to work on this issue.

[2022-04-16 03:28] sohan2503001 opened #223 "Footer not aligned"
**Describe the bug**
Footer is not center aligned in upcoming events page and registration page

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Screenshot (332)](https://user-images.githubusercontent.com/69068073/163659735-22ee46fe-af3d-45e3-b354-610ffbc60c1d.png)

[2022-04-16 04:57] itsAftabAlam opened #224 "Social Media Accounts Not Hyperlinked"
**Describe the bug**
The social media accounts in the footer of the home page is not hyperlinked.

**Expected behavior**
The icons should be hyperlinked.

[2022-04-16 04:58] itsAftabAlam commented on #224
i would like to work on this issue. please assign this to me

[2022-04-16 05:00] itsAftabAlam opened #225 "Social media accounts not hyperlinked"
**Describe the bug**
Social media accounts of the team members are not hyperlinked in about.html

[2022-04-16 05:00] itsAftabAlam commented on #225
i would like to work on this issue

[2022-04-16 14:13] Divya2163 opened #226 "Typing effect for the title"
### Description

Adding typing effect for we talk code here title can make the UI more active and elegant. I would like to add this feature to make the website more appealing. It would improve the overall UI.
![Screenshot 2022-04-16 194222](https://user-images.githubusercontent.com/76438709/163678266-6e6e52f9-e2b3-4c57-bd6d-7eb42c55a772.png)

### Domain

UI/UX

### Type of Contribution

Others

##

[2022-04-16 14:13] Divya2163 commented on #226
Kindly assign me this issue under gssoc'22.

[2022-04-16 14:15] Divya2163 opened #227 "Dark theme for the website"
### Description

Adding a dark theme to the website can improve user experience and comfort. I would like to add a dark theme to the website under gssoc'22.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-04-16 21:17] GAbdulWahab commented on #227
can you assign this issue to me  I'm in GSSOC'22

[2022-04-18 15:40] Kanika637 commented on #227
Kindly assign this issue to me under GSSoC 2022.

[2022-04-18 18:28] Aniket1026 opened #230 "Buttons not linked"
![Screenshot (72)](https://user-images.githubusercontent.com/92184189/163855713-00ed4127-e1cd-4eba-aeac-3329d76b8257.png)

Both the buttons are not linked with the respective destination .
So would like to link the buttons with discord and mailing list respectively.

[2022-04-19 04:37] JaynouOliver commented on #230
this is intentionally done

[2022-04-19 04:38] JaynouOliver commented on #227
dark theme will be implemented in the react version, we are working on that

[2022-04-19 04:40] JaynouOliver commented on #225
go for it.

[2022-04-19 04:40] JaynouOliver commented on #223
go for it.

[2022-04-19 04:43] #220 closed

[2022-04-19 04:44] #204 closed

[2022-04-19 06:00] Kumar-laxmi opened #232 "Linking 6 cards to there own individual page"
### Description

In ```index.html``` we have following six cards:
![image](https://user-images.githubusercontent.com/76027425/163935815-0d3c2ed7-e999-47d6-8f90-ccce4ead3906.png)

These 6 cards lead to outside links, but we could create 6 more individual Blog Pages like page and link it to it.
This could be safe, as in future if those online blogs are removed then it would pop-up ```ERROR Page not

[2022-04-19 11:02] itsAftabAlam commented on #225
@JaynouOliver can you provide me social media links of team members that are needed to be hyperlinked?

[2022-04-19 11:42] Aniket1026 commented on #230
ohhh ok sir

[2022-04-19 11:43] #230 closed

[2022-04-23 15:21] #223 closed

[2022-04-23 15:23] JaynouOliver commented on #138
@Adhetya updates? it's been 11 days

[2022-04-24 03:10] kanishak11-cyber opened #235 "Navbar in contact page"
![image](https://user-images.githubusercontent.com/84625838/164954588-9291e23e-aad1-4342-bf1b-facd9de7c948.png)

NavBar in contact.html is very large need to be small.
Browser: brave, google,etc

[2022-04-24 03:11] kanishak11-cyber commented on #235
@admin I want to work on this issue

[2022-04-26 10:20] jyotivakare33 commented on #138
@ronitblenz can you assign me this issue under GSSOC'22

[2022-04-30 04:35] Kumar-laxmi commented on #232
@ronitblenz @JaynouOliver Please review this PR

[2022-04-30 05:51] JaynouOliver commented on #235
All issues here are henceforth closed. HAve a look at the issues for the react version.

[2022-04-30 05:51] #235 closed

[2022-04-30 05:51] JaynouOliver commented on #232
Closing all issues, work u may work on the react version.

[2022-04-30 05:51] #232 closed

[2022-05-03 20:42] aaryahjolia opened #237 "Changing color in Mobile view of hamburger menu"
**Describe the bug**
Changing color in Mobile view of hamburger menu as the color seems

**To Reproduce**
Steps to reproduce the behavior:
1. Go to website in mobile view
2. Click on three dots of hamburger
3. See error

**Expected behavior**

Readable text color when opening hamburger in mobile view

**Screenshots**

![image](https://user-images.githubusercontent.com/82600388/166562317-eb4bba21-9

[2022-05-07 11:48] AdnanMuzavor opened #238 "Install React and required packages"
### Description

Install React
Install React-Router-DOM
Install bootstrap (5.1.0 being most preferred)
Create folder structure in source
src/Screens folder to have all screens
src/Components folder to carry components

### Domain

MERN

### Type of Contribution

Documentation

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-05-09 19:00] #238 closed, assigned to nobody

[2022-05-09 19:00] #237 closed, assigned to nobody

[2022-05-09 19:46] JaynouOliver opened #239 "Create a transparent Navbar using Next js"
### Description

![image](https://user-images.githubusercontent.com/88646338/167485613-cf6f95de-30c4-4150-8307-8dade3877aa0.png)

Refer to https://www.helium.com/ to have a look at the navbar.
Use tailwind CSS.
import all modules required and remove unnecessary files and codes.

navbar should contain all the text in the navbar of https://techsquadcommunity.tech/

### Domain

Frontend Dev React/Ang

[2022-05-09 19:53] JaynouOliver opened #240 "Create a landing page similar to the given image using Next js"
### Description

![image](https://user-images.githubusercontent.com/88646338/167486348-0499c6ee-8bd9-4c17-8bd7-da01fe690323.png)

refer to helium.com for further reference.

The page image doesn't have to be dynamic.
You don't have to use the exact colors, but try to use similar fonts, spacing, margins and padding.

### Domain

Frontend Dev React/Angular/Vue

### Type of Contribution

Others

###

[2022-05-09 20:03] JaynouOliver opened #241 "Create a new section for "handpicked technologies" using Next js"
### Description

![image](https://user-images.githubusercontent.com/88646338/167487931-3fc45c61-7827-4d84-bfa0-04d25386fa59.png)

use this image for reference. visit helium.com for reference.

![image](https://user-images.githubusercontent.com/88646338/167488018-8871a8f7-7bc0-4077-8028-5f0f1134a248.png)

the output should be like the above image. Use the CSS (use tailwind CSS) and fonts in the abo

[2022-05-09 20:13] JaynouOliver opened #242 "Create a seperate Blogs page and link it to the navbar "Blogs" button (in Next js)"
### Description

This issue will be assigned only after the navbar issue is complete.
![image](https://user-images.githubusercontent.com/88646338/167490462-48b7be8e-1143-492c-893d-a6e133fb3c65.png)

The blog page should have a design like this and the colors should match with the theme of the website.

### Domain

Frontend Dev React/Angular/Vue

### Type of Contribution

Others

### Code of Conduc

[2022-05-09 20:16] JaynouOliver opened #243 "Create a section of page like the image given. (Using Next js)"
### Description

![image](https://user-images.githubusercontent.com/88646338/167490072-426290ec-9121-4ef9-857f-e841e7b205a1.png)

Make 6 cards instead of 3 cards and match the background color with the website theme. (https://techsquadcommunity.tech/)

### Domain

Open Source

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscr

[2022-05-09 20:26] JaynouOliver opened #244 "Create social links functional button at the end of the main page (using Next Js)"
### Description

![image](https://user-images.githubusercontent.com/88646338/167491074-cda54a4f-019f-4b7c-bd0a-3d16cbe9406e.png)

When you click on the button, all the links shall fade in, in a circular fashion one at a time. visit https://jellysmack.com/creator-program/ website for more reference.

### Domain

Open Source

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Con

[2022-05-09 20:29] JaynouOliver opened #245 "Apply floating bubble effects in the website using Next.js and tailwind CSS"
### Description

![image](https://user-images.githubusercontent.com/88646338/167491994-5d685474-fe57-4fe3-8f4d-2066c4d4cf2f.png)

Use Tailwind CSS
visit https://techsquadcommunity.tech/ to see the animation.

### Domain

Open Source

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscript) of this project.

[2022-05-09 20:32] JaynouOliver opened #246 "Create an After effects file and add it to the website"
### Description

![image](https://user-images.githubusercontent.com/88646338/167492404-2002d452-fa99-4669-b6f4-c10a1c052cec.png)

The after effects should look like this and you can visit https://www.helium.com/ for further reference.

make a separate folder and add the video file there.

### Domain

UI/UX

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guideli

[2022-05-11 06:19] Sukriti-m commented on #245
I am a GSSoC'22 contributor. Please assign me this issue.

[2022-05-11 06:24] Sukriti-m commented on #239
I am a GSSoC'22 contributor. Please assign this issue to me.

[2022-05-11 08:17] JaynouOliver commented on #245
Go for it!

[2022-05-11 08:18] JaynouOliver commented on #239
Go for it!

[2022-05-11 09:50] vasantisuthar commented on #241
I am a GSSOC'22 contributor and I would like to work on this issue.
Please assign this to me

[2022-05-11 12:21] JaynouOliver commented on #241
Go for it! @vasantisuthar

[2022-05-12 19:52] JaynouOliver commented on #239
@Sukriti-m any update?

[2022-05-13 08:32] Sukriti-m commented on #239
![Screenshot (69)](https://user-images.githubusercontent.com/93239528/168244001-34e05e84-5d22-4775-942e-eb009f14573d.png)

I am unable to run the development server. Could you please tell me what am I doing wrong here?

[2022-05-13 17:31] JaynouOliver commented on #239
@Sukriti-m, as of now it is not necessary to keep the file structure intact. you can create a new next JS app and then make the necessary changes, create a page with the following navbar to make PR.

[2022-05-14 02:13] Sukriti-m commented on #239
Alright, thank you. I will make a PR very soon.

[2022-05-14 15:12] JaynouOliver commented on #239
Sure! Keep it up!

[2022-05-15 14:14] prabhakar-dessai commented on #244
Hey, I'm a GSsoc participant, can i work on this issue?

[2022-05-18 17:20] AdnanMuzavor commented on #242
I am GSSOC contributor and I would like to work on this issue.
However is it ok if I use normal CSS for designing and bootstrap for responsiveness?

[2022-05-18 19:09] JaynouOliver commented on #242
Go for it. Connect with me in discord before you start working, need to discuss about how you'll proceed.

[2022-05-18 19:10] JaynouOliver commented on #244
updates? @prabhakar-dessai

[2022-05-19 04:25] navyasharma0203 commented on #243
Can I work on this??

[2022-05-21 17:03] raaghavrm commented on #245
Hey
Wanna work on this, please assign this to me.
Thanx mate

[2022-05-21 17:05] raaghavrm commented on #244
Hey
Wanna work on this, please assign this to me.
Thanx mate
Reference: gssoc'22

[2022-05-21 17:07] raaghavrm commented on #240
Hey
Wanna work on this.
Had a question: The image need to be added using img tag in background right ?

Reference: gssoc'22

[2022-05-22 10:33] JaynouOliver commented on #245
@Sukriti-m updates?

[2022-05-22 10:34] JaynouOliver commented on #240
go for it! @Raaghav4243

[2022-05-22 10:35] JaynouOliver commented on #243
yeah, sure go for it?

[2022-05-22 15:02] JaynouOliver commented on #239
@Sukriti-m if you fail to make a PR within the next 12 hours, I will have to unassign you, according to the normal standard, 4-5 days can be assigned for a hard level issue.

[2022-05-22 15:03] JaynouOliver commented on #241
@vasantisuthar updates? Try to provide a PR by the next 12 hours, see if you can. If not, unfortunately the organization have to unassign you.

[2022-05-22 15:04] JaynouOliver commented on #242
updates? @AdnanMuzavor ?

[2022-05-22 17:13] AdnanMuzavor commented on #242
Check this link out @JaynouOliver,I have given all updates through this screen recording .
Link: https://www.recordjoy.com/view/oOAxMmjDmr3Zp1y4aEx9
However due to tight schedule of offline college I could not make it to learn and apply tailwind CSS, I hope you'll understand!!.
Rest I have done(directly using next.js).

[2022-05-22 17:15] raaghavrm commented on #240
Hey
My Doubt ?
Do I need to make the image using html and css just add it as an image tag.
The background image.

[2022-05-23 12:36] prabhakar-dessai commented on #241
Hey, can you assign this issue to me under GSsoc'22.

[2022-05-23 12:45] sohan2503001 commented on #239
Can you assign me this issue

[2022-05-23 15:12] JaynouOliver commented on #239
Yes go for it! @sohan2503001

[2022-05-23 15:15] JaynouOliver commented on #240
Okay so you can put any background image as of now. Just make sure the Font size, weight and paddings are the same. If you have further problems, you can contact me on Discord.
and do the work using next Js and tailwind CSS

[2022-05-23 15:16] JaynouOliver commented on #241
Hey, go for it. @prabhakar-dessai

[2022-05-23 15:18] JaynouOliver commented on #242
That was great. I understand your pain about offline college, it's alright, please make a PR.

[2022-05-23 15:19] JaynouOliver commented on #243
updates @navyasharma0203 ?

[2022-05-23 15:20] JaynouOliver commented on #245
@Raaghav4243 you can go for it!

[2022-05-23 20:42] #244 closed, assigned to prabhakar-dessai

[2022-05-24 03:42] raaghavrm commented on #240
Okay Cool

[2022-05-24 04:14] navyasharma0203 commented on #243
Yes...I am working on it :)

[2022-05-24 10:33] samipak458 opened #248 "Improve Pre-loader"
### Description

Website pre-loader is very simple. I think by adding attractive pre-loader website looks more better. I would like to add simple pre-loader but visually appealing.
I am a GSSoC'22 participant, kindly assign me this issue.

### Domain

Frontend Dev HTML/CSS/JS

### Type of Contribution

Others

### Code of Conduct

- [X] I follow [Contributing Guidelines](https://github.com/girlscr

[2022-05-24 13:41] AdnanMuzavor commented on #242
Hehe thanks @JaynouOliver .
Done.

[2022-05-25 19:48] #242 closed, assigned to AdnanMuzavor

[2022-05-25 19:54] samipak458 commented on #248
@JaynouOliver I'm unable to add pre-loader as website is in Next.js and I don't know about it.

[2022-05-26 18:13] JaynouOliver commented on #243
:)

[2022-05-27 03:04] sohan2503001 commented on #239
@JaynouOliver Is it okk or should i do any changes , to show transparency i have just use random image
![Navigation-Bar](https://user-images.githubusercontent.com/69068073/170620641-07e03138-67ef-4924-ad2d-6acbc799b495.png)

[2022-05-27 11:19] JaynouOliver commented on #239
don't highlight upcoming events in blue, make the whole navbar black and fonts white. see the above image. it should be similar to that.

[2022-05-27 18:11] sohan2503001 commented on #239
Is it okk now.
![Navigation-Bar (1)](https://user-images.githubusercontent.com/69068073/170767153-58878c45-b6d8-4614-9b14-f3009cc833af.png)

[2022-05-29 15:00] JaynouOliver commented on #239
yes, that's okay! make a pr !

[2022-05-29 15:01] JaynouOliver commented on #245
You have 1 more day, all issues will be closed! @Raaghav4243

[2022-05-29 15:02] JaynouOliver commented on #243
@navyasharma0203 you have one more day, all issues will be closed.

[2022-05-29 15:02] JaynouOliver commented on #241
@prabhakar-dessai you have one more day, all issues will be closed!

[2022-05-29 15:03] JaynouOliver commented on #240
@Raaghav4243 you have one more day, all issues will be closed!

[2022-05-29 15:24] piyusha2001 commented on #243
@JaynouOliver  can I work on this ? I will make a PR by tomorrow itself . Its been more than 10 days since it has been assigned.

[2022-05-29 16:31] raaghavrm commented on #240
Yah, working on it.

[2022-05-30 03:23] raaghavrm commented on #245
Yes, will be done by today. Itself. Working on this only.

[2022-05-30 06:40] JaynouOliver commented on #243
no more time left. can make a pr directly, will assign the tags @piyusha2001

[2022-05-30 12:36] #239 closed, assigned to sohan2503001

[2022-05-30 13:02] #243 closed, assigned to piyusha2001

[2022-05-30 13:51] #241 closed, assigned to prabhakar-dessai

[2022-05-30 19:29] JaynouOliver commented on #245
@Raaghav4243 updates? See if you can finish it by today. Good luck!

[2022-05-30 19:31] raaghavrm commented on #245
Working on this only right now. 😬 Had a ML model ticket assigned to me, took more time than expected.

[2022-05-30 19:33] raaghavrm commented on #245
Sorry for the delay

[2022-05-31 04:54] raaghavrm commented on #245
Hey
Can you please share me your discord, I am unable to find it. I have a doubt

[2022-05-31 09:09] piyusha2001 commented on #240
@JaynouOliver  Can u assign me this?

[2022-05-31 11:29] JaynouOliver commented on #245
Raaghav let it go.  Time is almost over. Today is the closing ceremony, enjoy the day! Same for the other issue too. Good luck.

[2022-05-31 11:30] JaynouOliver commented on #240
Hey @piyusha2001 leave it, today is the closing ceremony! Enjoy you day!

[2022-05-31 11:31] piyusha2001 commented on #240
Cool!